In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession\
                    .builder\
                    .master("spark://spark-master:7077")\
                    .appName("Day_6_Assignments")\
                    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/31 14:53:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [11]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [7]:
orders_schema_struct = StructType(
                                    [
                                        StructField("order_id",IntegerType()),
                                        StructField("customer_id",IntegerType()),
                                        StructField("product_id",IntegerType()),
                                        StructField("price",FloatType()),
                                        StructField("order_date",DateType()),
                                        StructField("order_status",StringType()),
                                        StructField("state",StringType()),
                                        StructField("quantity",IntegerType()),
                                    ]
                                )

df_orders = spark.read.csv('/data/orders_50mb.csv',schema=orders_schema_struct,header=True)

df_orders.show(5)

df_orders.createOrReplaceTempView('orders_table')

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [9]:
#product table
product_schema_struct = StructType(
                                    [
                                    StructField('product_id',IntegerType()),
                                    StructField('product_name',StringType()),
                                    StructField('cost_price',FloatType())
                                    ]
                                )

df_product = spark.read.csv('/data/products.csv',schema=product_schema_struct,header=True)

df_product.show(5)

df_product.createOrReplaceTempView('product_table')

+----------+--------------------+----------+
|product_id|        product_name|cost_price|
+----------+--------------------+----------+
|         1|      Wireless Mouse|     120.0|
|         2| Mechanical Keyboard|     135.0|
|         3|       USB C Charger|     150.0|
|         4|        Laptop Stand|     165.0|
|         5|Noise Cancelling ...|     180.0|
+----------+--------------------+----------+
only showing top 5 rows

1. Using the orders and products datasets, find the **top 2 most profitable products in each state**, where profit is defined as `(unit_price − cost_price) * quantity`. Consider only delivered orders. Return state, product_id, total profit, and rank within the state.

In [12]:
df= df_orders.filter(col('order_status')=='DELIVERED')\
            .join(df_product,'product_id','inner')\
            .withColumn('profit',(col('price')-col('cost_price'))*col('quantity'))\
            .groupBy('state','product_name').agg(sum('profit').alias('product_profit'))

window_spec= Window.partitionBy('state').orderBy(col('product_profit').desc())

df.withColumn('rank',rank().over(window_spec))\
            .filter(col('rank')<=2)\
            .show()

+----------------+-------------------+------------------+----+
|           state|       product_name|    product_profit|rank|
+----------------+-------------------+------------------+----+
|       Karnataka|     Wireless Mouse| 6680.639930725098|   1|
|       Karnataka|   Wireless Earbuds| 3602.089988708496|   2|
|          Odisha|Mechanical Keyboard|5389.3100509643555|   1|
|          Odisha|     Wireless Mouse| 4880.380027770996|   2|
|          Kerala|   Wireless Earbuds| 5972.230010986328|   1|
|          Kerala|     Wireless Mouse| 5906.629943847656|   2|
|      Tamil Nadu|     Wireless Mouse| 6527.709930419922|   1|
|      Tamil Nadu|   Wireless Earbuds| 3214.830146789551|   2|
|    Chhattisgarh|     Wireless Mouse| 8475.800010681152|   1|
|    Chhattisgarh|   Wireless Earbuds|4655.8599853515625|   2|
|  Andhra Pradesh|   Wireless Earbuds| 5988.870079040527|   1|
|  Andhra Pradesh|     Wireless Mouse|5575.1599044799805|   2|
|  Madhya Pradesh|     Wireless Mouse| 6755.169937133789|   1|
|  Madhya Pradesh|Mechanical Keyboard| 4714.479965209961|   2|
|          Punjab|     Wireless Mouse| 6467.410102844238|   1|
|          Punjab|Mechanical Keyboard| 3851.079933166504|   2|
|             Goa|     Wireless Mouse| 6754.829971313477|   1|
|             Goa|   Wireless Earbuds| 5000.339897155762|   2|
|Himachal Pradesh|     Wireless Mouse| 6958.750038146973|   1|
|Himachal Pradesh|   Wireless Earbuds| 4384.089897155762|   2|
+----------------+-------------------+------------------+----+
only showing top 20 rows

26/01/31 15:15:26 ERROR TaskSchedulerImpl: Lost executor 1 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 15:15:26 ERROR TaskSchedulerImpl: Lost executor 0 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 15:46:28 ERROR TaskSchedulerImpl: Lost executor 2 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 15:46:28 ERROR TaskSchedulerImpl: Lost executor 3 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 16:10:30 ERROR TaskSchedulerImpl: Lost executor 4 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 16:10:30 ERROR TaskSchedulerImpl: Lost executor 5 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 16:51:34 ERROR TaskSchedulerImpl: Lost executor 6 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 16:51:34 ERROR TaskSchedulerImpl: Lost executor 7 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds

In [ ]:
#spark.sql

2. For each customer, identify their **most recent order** and calculate the **difference between that order’s unit price and the average unit price of all products purchased by that customer**. Return customer_id, order_id, order_date, unit_price, and the price difference.

In [ ]:



3.Using orders and products data, determine for each year the **product that contributed the highest percentage of total yearly revenue**. Return order_year, product_id, product_revenue, total_year_revenue, and revenue_percentage.

4. Using the orders and products datasets, calculate for each state the running cumulative revenue over time, ordered by order_date, and return state, order_date, order_id, order_value, and cumulative revenue.

5.For each product, find the first and last order date along with the total revenue generated between those dates, considering only non cancelled orders.

6. Identify customers whose latest order value is greater than their previous order value, and return customer_id, order_id, order_date, previous_order_value, and latest_order_value.

7.Using orders and products data, rank products within each year based on total profit, and return only the top 3 products per year.

8.For each state and order_status combination, calculate the percentage contribution of that combination to the total revenue of that state, and return state, order_status, revenue, and revenue_percentage.

9.For each customer, calculate the moving average of order value over their last 3 orders, ordered by order_date, and return customer_id, order_id, order_date, order_value, and moving_average.

10.Using orders and products datasets, find products whose average selling price is consistently higher than cost price across all years, and return product_id, average_unit_price, average_cost_price, and price_difference.