# TOPICS COVERED HERE

PDF Document no-9
spark.read.csv()
spark.read.format().option().load()
createDataFrame
expr
selectExpr
alias
collect()--will store the value
distinct()
dropDuplicates()
sort---col('colname').desc/desc('colname')
orderBy
filter/where
isNUll(),isNotNull()
lit()
withColumn
withColumnRenamed
cast--change datatype
working with dates--to_date,dateFormat
when,otherwise
string functions---upper,lower,trim,initcap,length,substring,concat,split
date functions--current_date,date_add,date_sub,datediff,year(),month().dayofmonth(),date_format()
drop
union(),unionAll(),unionByName()
intersect()
subtract(),exceptAll()
df.count() vs df.select(count('*'))---which is action ,transform
Aggregation---agg,count,sum,where/filter,countDistinct(),min(),max()
createOrReplaceTempView()
spark.sql

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.\
                builder.\
                master("spark://spark-master:7077").\
                appName("Day_5_Dataframe_API").\
                getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/29 09:33:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
spark

In [3]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

# create Dataframe in diff approach

In [4]:
orders_schema_struct = StructType(
                                [
                                    StructField("order_id",IntegerType()),
                                    StructField("customer_id",IntegerType()),
                                    StructField("product_id",IntegerType()),
                                    StructField("price",FloatType()),
                                    StructField("order_date",DateType()),
                                    StructField("order_status",StringType()),
                                    StructField("state",StringType()),
                                    StructField("quantity",IntegerType()),
                                ]
                            )

df = spark.read.format('csv')\
                .schema(orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_50mb.csv')


df.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [5]:
#1
df = spark.read.csv('/data/orders_50mb.csv',header=True,schema=orders_schema_struct)
df.show(5) #

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [6]:
#2
df1 = spark.read.format('csv')\
                .schema(orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_50mb.csv')
df1.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [7]:
#3 create tempview from df

df.createOrReplaceTempView('orders') #create a temp from the dataframe and use it as a table

df_odisha = spark.sql("select * from orders where state='Odisha' ")
df_odisha.show()

[Stage 3:>                                                          (0 + 1) / 1]

+--------+-----------+----------+------+----------+------------+------+--------+
|order_id|customer_id|product_id| price|order_date|order_status| state|quantity|
+--------+-----------+----------+------+----------+------------+------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|Odisha|       2|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|Odisha|       3|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|Odisha|       1|
|      27|     809842|        21|146.57|2006-03-31|   DELIVERED|Odisha|       2|
|      40|     740495|        38|160.57|2004-10-13|   DELIVERED|Odisha|       1|
|      51|     746341|        47|141.38|2018-04-03|   DELIVERED|Odisha|       3|
|      63|     272132|        50|113.12|2008-07-25|      PLACED|Odisha|       2|
|      67|     149080|        39|136.42|2009-08-13|     SHIPPED|Odisha|       2|
|      83|     819486|        73|145.08|2023-07-16|     SHIPPED|Odisha|       3|
|      95|     654840|        72| 132.7|2023-05-11|   DELIVERED|Odisha|       2|
|     173|     690851|        85|118.06|2010-10-24|     SHIPPED|Odisha|       1|
|     181|     894190|        29|104.56|2004-05-06|      PLACED|Odisha|       2|
|     210|     863474|        36|114.31|2022-07-02|      PLACED|Odisha|       3|
|     216|     106023|        74|182.55|2018-06-02|      PLACED|Odisha|       1|
|     249|     797872|        60|119.39|2024-10-15|      PLACED|Odisha|       2|
|     269|     245839|        69|155.72|2011-12-30|      PLACED|Odisha|       2|
|     289|     409236|        18|183.89|2012-07-06|      PLACED|Odisha|       2|
|     316|     817978|        23|146.84|2018-01-05|     SHIPPED|Odisha|       3|
|     326|     391639|         9|161.86|2012-01-31|     SHIPPED|Odisha|       3|
|     369|     962847|         7|166.09|2022-12-10|   DELIVERED|Odisha|       1|
+--------+-----------+----------+------+----------+------------+------+--------+
only showing top 20 rows

In [9]:
spark.range(2,10,3).show()

+---+
| id|
+---+
|  2|
|  5|
|  8|
+---+

In [8]:
#4 demo df
spark.range(2,10).show()

+---+
| id|
+---+
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [11]:
#5 directly from table

df_table= spark.table('orders') #orders is a table created above

df_table.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [12]:
#6 from dataset list (list of tuples)

data =[(1,'Gyan','DATA_ENGG'),
      (2,'Bighna','LIC'),
      (3,'xyz','IDBI')]

df = spark.createDataFrame(data,schema=['id','name','company'])

df.show()

+---+------+---------+
| id|  name|  company|
+---+------+---------+
|  1|  Gyan|DATA_ENGG|
|  2|Bighna|      LIC|
|  3|   xyz|     IDBI|
+---+------+---------+

In [13]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- company: string (nullable = true)

In [14]:
#schema in a single '',not in [] also
df = spark.createDataFrame(data,schema='id int, name string, company string')
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- company: string (nullable = true)

# select

In [15]:
df.show()

+---+------+---------+
| id|  name|  company|
+---+------+---------+
|  1|  Gyan|DATA_ENGG|
|  2|Bighna|      LIC|
|  3|   xyz|     IDBI|
+---+------+---------+

In [17]:
#1
from pyspark.sql.functions import *
df = spark.read.format('csv')\
                .schema(orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_50mb.csv')
df.select(col('order_id'),col('order_status')).show(5)

+--------+------------+
|order_id|order_status|
+--------+------------+
|       1|      PLACED|
|       2|     SHIPPED|
|       3|   DELIVERED|
|       4|   CANCELLED|
|       5|     SHIPPED|
+--------+------------+
only showing top 5 rows

In [18]:
#2

df.select('order_id','order_status')

DataFrame[order_id: int, order_status: string]

In [19]:
df.select('order_id','order_status').show()

+--------+------------+
|order_id|order_status|
+--------+------------+
|       1|      PLACED|
|       2|     SHIPPED|
|       3|   DELIVERED|
|       4|   CANCELLED|
|       5|     SHIPPED|
|       6|   DELIVERED|
|       7|     SHIPPED|
|       8|      PLACED|
|       9|    RETURNED|
|      10|   DELIVERED|
|      11|      PLACED|
|      12|   DELIVERED|
|      13|    RETURNED|
|      14|     SHIPPED|
|      15|      PLACED|
|      16|    RETURNED|
|      17|    RETURNED|
|      18|      PLACED|
|      19|   DELIVERED|
|      20|      PLACED|
+--------+------------+
only showing top 20 rows

In [20]:
#3
df.select('*').show() #all cols

+--------+-----------+----------+------+----------+------------+----------------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|
+--------+-----------+----------+------+----------+------------+----------------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|          Odisha|       1|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|
+--------+-----------+----------+------+----------+------------+----------------+--------+
only showing top 20 rows

# expr(),selectExpr()

In [21]:
#4
#new column
from pyspark.sql.functions import *
df.select('order_id','order_status','price','quantity',expr('price*quantity as sales')).show(3)

+--------+------------+------+--------+---------+
|order_id|order_status| price|quantity|    sales|
+--------+------------+------+--------+---------+
|       1|      PLACED|152.33|       2|   304.66|
|       2|     SHIPPED|117.42|       3|   352.26|
|       3|   DELIVERED|128.85|       3|386.55002|
+--------+------------+------+--------+---------+
only showing top 3 rows

In [22]:
df.selectExpr('order_id','order_status','price','quantity','price*quantity as sales','price/quantity as sales1').show(5)

+--------+------------+------+--------+---------+-----------------+
|order_id|order_status| price|quantity|    sales|           sales1|
+--------+------------+------+--------+---------+-----------------+
|       1|      PLACED|152.33|       2|   304.66|76.16500091552734|
|       2|     SHIPPED|117.42|       3|   352.26|39.13999938964844|
|       3|   DELIVERED|128.85|       3|386.55002|42.95000203450521|
|       4|   CANCELLED|195.71|       1|   195.71|195.7100067138672|
|       5|     SHIPPED|125.08|       3|   375.24| 41.6933339436849|
+--------+------------+------+--------+---------+-----------------+
only showing top 5 rows

In [23]:
df.select(col('order_id'),'order_status','price','quantity',col('price')*col('quantity')).show(5)

+--------+------------+------+--------+------------------+
|order_id|order_status| price|quantity|(price * quantity)|
+--------+------------+------+--------+------------------+
|       1|      PLACED|152.33|       2|            304.66|
|       2|     SHIPPED|117.42|       3|            352.26|
|       3|   DELIVERED|128.85|       3|         386.55002|
|       4|   CANCELLED|195.71|       1|            195.71|
|       5|     SHIPPED|125.08|       3|            375.24|
+--------+------------+------+--------+------------------+
only showing top 5 rows

In [24]:
df.select(df['order_id'],df.order_status).show(5)

+--------+------------+
|order_id|order_status|
+--------+------------+
|       1|      PLACED|
|       2|     SHIPPED|
|       3|   DELIVERED|
|       4|   CANCELLED|
|       5|     SHIPPED|
+--------+------------+
only showing top 5 rows

In [25]:
df1=df.select('order_id','order_status','price','quantity',expr('price*quantity as sales'))
df1.show(5)

+--------+------------+------+--------+---------+
|order_id|order_status| price|quantity|    sales|
+--------+------------+------+--------+---------+
|       1|      PLACED|152.33|       2|   304.66|
|       2|     SHIPPED|117.42|       3|   352.26|
|       3|   DELIVERED|128.85|       3|386.55002|
|       4|   CANCELLED|195.71|       1|   195.71|
|       5|     SHIPPED|125.08|       3|   375.24|
+--------+------------+------+--------+---------+
only showing top 5 rows

# alias

In [28]:
#1 col('order_id').alias('oid')
#2 expr('order_id as oid')

+--------+------------+------+--------+-----------+
|order_id|order_status| price|quantity|total_price|
+--------+------------+------+--------+-----------+
|       1|      PLACED|152.33|       2|     304.66|
|       2|     SHIPPED|117.42|       3|     352.26|
|       3|   DELIVERED|128.85|       3|  386.55002|
|       4|   CANCELLED|195.71|       1|     195.71|
|       5|     SHIPPED|125.08|       3|     375.24|
+--------+------------+------+--------+-----------+
only showing top 5 rows

In [29]:
df.select(col('order_id'),\
          col('order_status'),\
          col('price'),\
          col('quantity'),\
          ( col('price')*col('quantity') ).alias('total_price'))\
            .show(5)

+--------+------------+------+--------+-----------+
|order_id|order_status| price|quantity|total_price|
+--------+------------+------+--------+-----------+
|       1|      PLACED|152.33|       2|     304.66|
|       2|     SHIPPED|117.42|       3|     352.26|
|       3|   DELIVERED|128.85|       3|  386.55002|
|       4|   CANCELLED|195.71|       1|     195.71|
|       5|     SHIPPED|125.08|       3|     375.24|
+--------+------------+------+--------+-----------+
only showing top 5 rows

In [31]:
df.select(col('order_id'),\
          col('order_status'),\
          col('price'),\
          col('quantity'),\
          expr('price*quantity as total_price'))\
          .show(5)

+--------+------------+------+--------+-----------+
|order_id|order_status| price|quantity|total_price|
+--------+------------+------+--------+-----------+
|       1|      PLACED|152.33|       2|     304.66|
|       2|     SHIPPED|117.42|       3|     352.26|
|       3|   DELIVERED|128.85|       3|  386.55002|
|       4|   CANCELLED|195.71|       1|     195.71|
|       5|     SHIPPED|125.08|       3|     375.24|
+--------+------------+------+--------+-----------+
only showing top 5 rows

In [32]:
df.select(col('order_id').alias('oid')).show(5)

+---+
|oid|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+
only showing top 5 rows

In [ ]:
df.select(col('order_status')).collect()[0][0]#it will store the value

# collect()

# distinct

In [2]:
#its a wide transformation
data = [
        (1, "PLACED", 100),
        (1, "PLACED", 100),
        (2, "SHIPPED", 200),
        (3, "DELIVERED", 300),
        (1, "PLACED", 150),
        (1, "DELIVERED", 150),
        (1, "DELIVERED", 150)
        ]
order_schema = "order_id int, status string, amount int"

df=spark.createDataFrame(data,schema=order_schema)
df.show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|   PLACED|   100|
|       2|  SHIPPED|   200|
|       3|DELIVERED|   300|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|DELIVERED|   150|
+--------+---------+------+

In [3]:
df.distinct().show()

[Stage 11:==============================================>         (62 + 4) / 75]

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|DELIVERED|   150|
|       1|   PLACED|   150|
|       2|  SHIPPED|   200|
|       3|DELIVERED|   300|
+--------+---------+------+

In [39]:
df.select('status').distinct().show()

+---------+
|   status|
+---------+
|DELIVERED|
|   PLACED|
|  SHIPPED|
+---------+

# dropDuplicates()

In [4]:
df.show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|   PLACED|   100|
|       2|  SHIPPED|   200|
|       3|DELIVERED|   300|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|DELIVERED|   150|
+--------+---------+------+

In [5]:
#based on order_id,status remove duplicate

df.dropDuplicates(['order_id','status']).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|DELIVERED|   150|
|       3|DELIVERED|   300|
|       1|   PLACED|   100|
|       2|  SHIPPED|   200|
+--------+---------+------+

# sort/orderBy()

In [7]:
df.sort('amount').show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|   PLACED|   100|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|DELIVERED|   150|
|       2|  SHIPPED|   200|
|       3|DELIVERED|   300|
+--------+---------+------+

In [8]:
df.orderBy('amount').show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|   PLACED|   100|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|DELIVERED|   150|
|       2|  SHIPPED|   200|
|       3|DELIVERED|   300|
+--------+---------+------+

In [12]:
from pyspark.sql.functions import *
df.sort(col('amount').desc()).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       3|DELIVERED|   300|
|       2|  SHIPPED|   200|
|       1|DELIVERED|   150|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|   PLACED|   100|
|       1|   PLACED|   100|
+--------+---------+------+

In [15]:
df.sort(desc('amount')).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       3|DELIVERED|   300|
|       2|  SHIPPED|   200|
|       1|DELIVERED|   150|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|   PLACED|   100|
|       1|   PLACED|   100|
+--------+---------+------+

In [16]:
df.orderBy(col('amount').desc()).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       3|DELIVERED|   300|
|       2|  SHIPPED|   200|
|       1|DELIVERED|   150|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|   PLACED|   100|
|       1|   PLACED|   100|
+--------+---------+------+

In [17]:
df.orderBy(col('amount').desc(),col('status').asc()).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       3|DELIVERED|   300|
|       2|  SHIPPED|   200|
|       1|DELIVERED|   150|
|       1|DELIVERED|   150|
|       1|   PLACED|   150|
|       1|   PLACED|   100|
|       1|   PLACED|   100|
+--------+---------+------+

# filters


filter/where both are equal
isNull(),isNotNull()

In [19]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

orders_schema_struct = StructType(
                                [
                                    StructField("order_id",IntegerType()),
                                    StructField("customer_id",IntegerType()),
                                    StructField("product_id",IntegerType()),
                                    StructField("price",FloatType()),
                                    StructField("order_date",DateType()),
                                    StructField("order_status",StringType()),
                                    StructField("state",StringType()),
                                    StructField("quantity",IntegerType()),
                                ]
                            )


df_orders = spark.read.format('csv')\
                .schema(orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_50mb.csv')

df_orders.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [28]:
df_orders.filter((col('state')=='Goa') & (col('quantity')==1)).show(5)

+--------+-----------+----------+------+----------+------------+-----+--------+
|order_id|customer_id|product_id| price|order_date|order_status|state|quantity|
+--------+-----------+----------+------+----------+------------+-----+--------+
|      37|     204046|        47|121.12|2004-04-15|     SHIPPED|  Goa|       1|
|     172|     607006|        55|168.93|2007-02-25|      PLACED|  Goa|       1|
|     260|     817276|        33|139.79|2006-10-15|      PLACED|  Goa|       1|
|     279|     693588|         2|123.71|2011-11-07|   DELIVERED|  Goa|       1|
|     281|     248810|        13|114.13|2017-11-15|   CANCELLED|  Goa|       1|
+--------+-----------+----------+------+----------+------------+-----+--------+
only showing top 5 rows

In [24]:
df_orders.filter("state='Goa' ").show(5)

+--------+-----------+----------+------+----------+------------+-----+--------+
|order_id|customer_id|product_id| price|order_date|order_status|state|quantity|
+--------+-----------+----------+------+----------+------------+-----+--------+
|      37|     204046|        47|121.12|2004-04-15|     SHIPPED|  Goa|       1|
|      60|     556016|        19| 153.6|2022-08-30|      PLACED|  Goa|       2|
|      77|     904034|        65|184.58|2020-04-16|      PLACED|  Goa|       3|
|      80|     292627|        57| 171.7|2007-09-01|     SHIPPED|  Goa|       2|
|     172|     607006|        55|168.93|2007-02-25|      PLACED|  Goa|       1|
+--------+-----------+----------+------+----------+------------+-----+--------+
only showing top 5 rows

In [27]:
df_orders.filter("state='Goa' and quantity==1").show(5)

+--------+-----------+----------+------+----------+------------+-----+--------+
|order_id|customer_id|product_id| price|order_date|order_status|state|quantity|
+--------+-----------+----------+------+----------+------------+-----+--------+
|      37|     204046|        47|121.12|2004-04-15|     SHIPPED|  Goa|       1|
|     172|     607006|        55|168.93|2007-02-25|      PLACED|  Goa|       1|
|     260|     817276|        33|139.79|2006-10-15|      PLACED|  Goa|       1|
|     279|     693588|         2|123.71|2011-11-07|   DELIVERED|  Goa|       1|
|     281|     248810|        13|114.13|2017-11-15|   CANCELLED|  Goa|       1|
+--------+-----------+----------+------+----------+------------+-----+--------+
only showing top 5 rows

# where

In [29]:
df_orders.where((col('state')=='Goa') & (col('quantity')==1)).show(5)

+--------+-----------+----------+------+----------+------------+-----+--------+
|order_id|customer_id|product_id| price|order_date|order_status|state|quantity|
+--------+-----------+----------+------+----------+------------+-----+--------+
|      37|     204046|        47|121.12|2004-04-15|     SHIPPED|  Goa|       1|
|     172|     607006|        55|168.93|2007-02-25|      PLACED|  Goa|       1|
|     260|     817276|        33|139.79|2006-10-15|      PLACED|  Goa|       1|
|     279|     693588|         2|123.71|2011-11-07|   DELIVERED|  Goa|       1|
|     281|     248810|        13|114.13|2017-11-15|   CANCELLED|  Goa|       1|
+--------+-----------+----------+------+----------+------------+-----+--------+
only showing top 5 rows

In [25]:
df_orders.where(col('state')=='Goa').show(5)

+--------+-----------+----------+------+----------+------------+-----+--------+
|order_id|customer_id|product_id| price|order_date|order_status|state|quantity|
+--------+-----------+----------+------+----------+------------+-----+--------+
|      37|     204046|        47|121.12|2004-04-15|     SHIPPED|  Goa|       1|
|      60|     556016|        19| 153.6|2022-08-30|      PLACED|  Goa|       2|
|      77|     904034|        65|184.58|2020-04-16|      PLACED|  Goa|       3|
|      80|     292627|        57| 171.7|2007-09-01|     SHIPPED|  Goa|       2|
|     172|     607006|        55|168.93|2007-02-25|      PLACED|  Goa|       1|
+--------+-----------+----------+------+----------+------------+-----+--------+
only showing top 5 rows

In [30]:
df_orders.filter((col('state')=='Goa') | (col('quantity')==2)).show()

+--------+-----------+----------+------+----------+------------+----------------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|
+--------+-----------+----------+------+----------+------------+----------------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|
|      21|     906056|        34|191.32|2018-10-25|    RETURNED|         Haryana|       2|
|      22|     721953|        31|143.41|2005-02-27|    RETURNED|       Karnataka|       2|
|      27|     809842|        21|146.57|2006-03-31|   DELIVERED|          Odisha|       2|
|      33|     787128|        48|182.37|2020-08-18|   DELIVERED|Himachal Pradesh|       2|
|      37|     204046|        47|121.12|2004-04-15|     SHIPPED|             Goa|       1|
|      38|     184187|        62|170.01|2019-06-21|      PLACED|Himachal Pradesh|       2|
|      39|     590124|        70|109.76|2016-09-07|   DELIVERED|          Kerala|       2|
|      41|     949080|        57|161.87|2014-05-10|    RETURNED|          Punjab|       2|
|      55|     540329|        98|182.85|2013-07-12|   DELIVERED|          Kerala|       2|
|      58|     466423|        24| 147.3|2020-03-18|   CANCELLED|     West Bengal|       2|
|      60|     556016|        19| 153.6|2022-08-30|      PLACED|             Goa|       2|
|      63|     272132|        50|113.12|2008-07-25|      PLACED|          Odisha|       2|
+--------+-----------+----------+------+----------+------------+----------------+--------+
only showing top 20 rows

# isNull() / isNotNull()

In [31]:
data = [
        (1, "PLACED", 100),
        (1, "PLACED", 100),
        (2, "SHIPPED", None),
        (3, "DELIVERED", 300),
        (1, "PLACED", 150),
        (1, "DELIVERED", 150),
        (1, "DELIVERED", None)
        ]
order_schema = "order_id int, status string, amount int"

df=spark.createDataFrame(data,schema=order_schema)
df.show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|   PLACED|   100|
|       2|  SHIPPED|  NULL|
|       3|DELIVERED|   300|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
|       1|DELIVERED|  NULL|
+--------+---------+------+

In [33]:
df.filter(col('amount').isNull() ).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       2|  SHIPPED|  NULL|
|       1|DELIVERED|  NULL|
+--------+---------+------+

In [34]:
df.filter(col('amount').isNotNull() ).show()

+--------+---------+------+
|order_id|   status|amount|
+--------+---------+------+
|       1|   PLACED|   100|
|       1|   PLACED|   100|
|       3|DELIVERED|   300|
|       1|   PLACED|   150|
|       1|DELIVERED|   150|
+--------+---------+------+

# literal values(dummy values)

In [35]:
df.select('*',lit('111111111').alias('dummy')).show()

+--------+---------+------+---------+
|order_id|   status|amount|    dummy|
+--------+---------+------+---------+
|       1|   PLACED|   100|111111111|
|       1|   PLACED|   100|111111111|
|       2|  SHIPPED|  NULL|111111111|
|       3|DELIVERED|   300|111111111|
|       1|   PLACED|   150|111111111|
|       1|DELIVERED|   150|111111111|
|       1|DELIVERED|  NULL|111111111|
+--------+---------+------+---------+

# withColumn
it will create new column

In [37]:
df_orders.withColumn("total_price",col('price')*col('quantity') ).show()

+--------+-----------+----------+------+----------+------------+----------------+--------+-----------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|total_price|
+--------+-----------+----------+------+----------+------------+----------------+--------+-----------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|     304.66|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|     352.26|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|  386.55002|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|     195.71|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|     375.24|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|      377.9|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|  352.83002|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|     523.26|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|     370.42|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|     577.11|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|      364.3|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|     266.74|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|      574.5|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|     307.22|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|     179.21|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|          Odisha|       1|     172.46|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|     322.66|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|     146.92|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|     112.14|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|      308.2|
+--------+-----------+----------+------+----------+------------+----------------+--------+-----------+
only showing top 20 rows

In [39]:
df_orders=df_orders.withColumn("total_price",col('price')*col('quantity') )
df_orders.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|total_price|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|     304.66|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|     352.26|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|  386.55002|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|     195.71|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|     375.24|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
only showing top 5 rows

# withColumnRenamed

In [40]:
df_orders.withColumnRenamed('order_status','status').show(5)

+--------+-----------+----------+------+----------+---------+-------+--------+-----------+
|order_id|customer_id|product_id| price|order_date|   status|  state|quantity|total_price|
+--------+-----------+----------+------+----------+---------+-------+--------+-----------+
|       1|     192520|        70|152.33|2007-10-10|   PLACED| Odisha|       2|     304.66|
|       2|     835421|        34|117.42|2008-12-02|  SHIPPED| Kerala|       3|     352.26|
|       3|     159165|        13|128.85|2010-04-22|DELIVERED|Gujarat|       3|  386.55002|
|       4|     403890|        25|195.71|2007-05-30|CANCELLED|  Bihar|       1|     195.71|
|       5|     273746|        41|125.08|2003-12-13|  SHIPPED| Odisha|       3|     375.24|
+--------+-----------+----------+------+----------+---------+-------+--------+-----------+
only showing top 5 rows

# chaining

In [ ]:
bbb

In [41]:
df_orders.withColumn("total_price_2",col('total_price')*col('quantity') )\
            .withColumnRenamed('total_price_2','total_price_222').show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+-----------+---------------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|total_price|total_price_222|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+---------------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|     304.66|         609.32|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|     352.26|        1056.78|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|  386.55002|        1159.65|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|     195.71|         195.71|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|     375.24|        1125.72|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+---------------+
only showing top 5 rows

# cast
Used to change the data type of a column.

In [45]:
#covert price column datatype from float to int
df_orders.withColumn('price',col('price').cast('int')).show(5)

+--------+-----------+----------+-----+----------+------------+-------+--------+-----------+
|order_id|customer_id|product_id|price|order_date|order_status|  state|quantity|total_price|
+--------+-----------+----------+-----+----------+------------+-------+--------+-----------+
|       1|     192520|        70|  152|2007-10-10|      PLACED| Odisha|       2|     304.66|
|       2|     835421|        34|  117|2008-12-02|     SHIPPED| Kerala|       3|     352.26|
|       3|     159165|        13|  128|2010-04-22|   DELIVERED|Gujarat|       3|  386.55002|
|       4|     403890|        25|  195|2007-05-30|   CANCELLED|  Bihar|       1|     195.71|
|       5|     273746|        41|  125|2003-12-13|     SHIPPED| Odisha|       3|     375.24|
+--------+-----------+----------+-----+----------+------------+-------+--------+-----------+
only showing top 5 rows

In [47]:
df_orders.select(col('price').cast('int')).show(5)

+-----+
|price|
+-----+
|  152|
|  117|
|  128|
|  195|
|  125|
+-----+
only showing top 5 rows

In [48]:
#create a new col price_int which convert data from float to int
df_orders.withColumn('price_int',col('price').cast('int')).show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+-----------+---------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|total_price|price_int|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+---------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|     304.66|      152|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|     352.26|      117|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|  386.55002|      128|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|     195.71|      195|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|     375.24|      125|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+---------+
only showing top 5 rows

# working with Dates
default date format : YYYY-MM-DD

In [55]:
#dates is in YYYY/MM/dd format
df_dates = spark.read.format('csv')\
                .option('schema',orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_Dates_50mb.csv')

df_dates.show(5)
#this will not create issue bcz i am reading all by option

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007/10/10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008/12/02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010/04/22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007/05/30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003/12/13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [72]:
#all datatypes converted to string due to improper date format
df_dates.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- price: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: string (nullable = true)

In [66]:
df_dates_new = spark.read.format('csv')\
                .option('schema',orders_schema_struct)\
                .option('dateFormat','yyyy/MM/dd')\
                .option('header','true')\
                .load('/data/orders_Dates_50mb.csv')

df_dates_new.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007/10/10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008/12/02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010/04/22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007/05/30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003/12/13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [73]:
df_dates_new.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- price: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: string (nullable = true)

In [63]:
df_dates1 = spark.read.format('csv')\
                    .schema(orders_schema_struct)\
                    .option('header','true')\
                    .load('/data/orders_Dates_50mb.csv')
df_dates1.show(5)
# writing schema,not in option

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|      NULL|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|      NULL|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|      NULL|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|      NULL|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|      NULL|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [69]:
df_dates1_new = spark.read.format('csv')\
                    .schema(orders_schema_struct)\
                    .option('dateFormat','yyyy/MM/dd')\
                    .option('header','true')\
                    .load('/data/orders_Dates_50mb.csv')
df_dates1_new.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [70]:
df_dates1.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: integer (nullable = true)

In [71]:
df_dates1_new.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: integer (nullable = true)

In [74]:
#convert string into date

df_dates = df_dates.withColumn('order_date',to_date('order_date','yyyy/MM/dd'))
df_dates.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [76]:
df_d = spark.read.csv('/data/orders_Dates_50mb.csv'\
                      ,schema=orders_schema_struct\
                     ,header=True)

df_d.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|      NULL|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|      NULL|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|      NULL|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|      NULL|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|      NULL|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

# solutions

default date format : YYYY-MM-DD
1-while reading the file,give dateFormat
2-first read date column as StringType,then change by to_date()

In [85]:
df_d1 = spark.read.csv('/data/orders_Dates_50mb.csv'\
                          ,schema=orders_schema_struct\
                            ,dateFormat="yyyy/MM/dd",header=True)

df_d1.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [86]:
#first read it as string ,then change
orders_schema_struct = StructType(
                                [
                                    StructField("order_id",IntegerType()),
                                    StructField("customer_id",IntegerType()),
                                    StructField("product_id",IntegerType()),
                                    StructField("price",FloatType()),
                                    StructField("order_date",StringType()),
                                    StructField("order_status",StringType()),
                                    StructField("state",StringType()),
                                    StructField("quantity",IntegerType()),
                                ]
                            )

df1 = spark.read.csv('/data/orders_Dates_50mb.csv',schema=orders_schema_struct,header=True)
df1.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007/10/10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008/12/02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010/04/22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007/05/30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003/12/13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [87]:
df1.withColumn('order_date',to_date('order_date','yyyy/MM/dd')).show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

 # when/otherwise

select * ,
    case 
        when quantity=1 then 'single' 
        else 'multiple'
    end 
    as 'quantity_group'
from table

In [92]:
df_orders.withColumn('quantity_group',\
                     when(col('quantity')==1,'single').otherwise('multiple') \
                    ).show()

+--------+-----------+----------+------+----------+------------+----------------+--------+-----------+--------------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|total_price|quantity_group|
+--------+-----------+----------+------+----------+------------+----------------+--------+-----------+--------------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|     304.66|      multiple|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|     352.26|      multiple|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|  386.55002|      multiple|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|     195.71|        single|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|     375.24|      multiple|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|      377.9|      multiple|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|  352.83002|      multiple|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|     523.26|      multiple|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|     370.42|      multiple|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|     577.11|      multiple|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|      364.3|      multiple|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|     266.74|      multiple|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|      574.5|      multiple|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|     307.22|      multiple|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|     179.21|        single|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|          Odisha|       1|     172.46|        single|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|     322.66|      multiple|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|     146.92|        single|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|     112.14|        single|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|      308.2|      multiple|
+--------+-----------+----------+------+----------+------------+----------------+--------+-----------+--------------+
only showing top 20 rows

select * ,
    case 
        when quantity=1 then 'single' 
        when quantity=2 the double
        else 'multiple'
    end 
    as 'quantity_group'
from table

In [94]:
df_orders.withColumn('quantity_group',
                     when(col('quantity')==1,'Single')\
                     .when(col('quantity')==2,'Double')\
                     .otherwise('Multiple')\
                    ).show(10)

+--------+-----------+----------+------+----------+------------+-----------+--------+-----------+--------------+
|order_id|customer_id|product_id| price|order_date|order_status|      state|quantity|total_price|quantity_group|
+--------+-----------+----------+------+----------+------------+-----------+--------+-----------+--------------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|     Odisha|       2|     304.66|        Double|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|     Kerala|       3|     352.26|      Multiple|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|    Gujarat|       3|  386.55002|      Multiple|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|      Bihar|       1|     195.71|        Single|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|     Odisha|       3|     375.24|      Multiple|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|  Rajasthan|       2|      377.9|        Double|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|      Assam|       3|  352.83002|      Multiple|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|      Assam|       3|     523.26|      Multiple|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|West Bengal|       2|     370.42|        Double|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|Uttarakhand|       3|     577.11|      Multiple|
+--------+-----------+----------+------+----------+------------+-----------+--------+-----------+--------------+
only showing top 10 rows

In [95]:
#alternative 

df_orders.select('*',
                when(col('quantity')==1,'Single')\
                 .when(col('quantity')==2,'Double')\
                 .otherwise('Mutiple')
                 .alias('quantity_group')
                ).show(10)

+--------+-----------+----------+------+----------+------------+-----------+--------+-----------+--------------+
|order_id|customer_id|product_id| price|order_date|order_status|      state|quantity|total_price|quantity_group|
+--------+-----------+----------+------+----------+------------+-----------+--------+-----------+--------------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|     Odisha|       2|     304.66|        Double|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|     Kerala|       3|     352.26|       Mutiple|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|    Gujarat|       3|  386.55002|       Mutiple|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|      Bihar|       1|     195.71|        Single|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|     Odisha|       3|     375.24|       Mutiple|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|  Rajasthan|       2|      377.9|        Double|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|      Assam|       3|  352.83002|       Mutiple|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|      Assam|       3|     523.26|       Mutiple|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|West Bengal|       2|     370.42|        Double|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|Uttarakhand|       3|     577.11|       Mutiple|
+--------+-----------+----------+------+----------+------------+-----------+--------+-----------+--------------+
only showing top 10 rows

# string functions

upper(col() )
lower(col() )
trim( col() )
initcap( col() )
length(col())
substring(col(),pos1,pos2)
concat(col(),col())
split(col(),'-').getItem(0)

In [127]:
# from pyspark.sql.functions import col, upper, lower, initcap, length, trim,substring, regexp_replace, concat, lit, split

from pyspark.sql.functions import *
data = [
(1, "ankit bansal     ", "ankit.bansal@gmail.com"),
(2, "  rohit sharma ", "rohit@gmail.com"),
(3, " virat kohli", "virat@bcci.in")
]
schema = ["id", "name", "email"]
df = spark.createDataFrame(data, schema)
df_string = df.select(
"id",
"name",
"email",
trim(col("name")).alias("trim_name"),
upper(col("name")).alias("upper_name"),
lower(col("name")).alias("lower_name"),
initcap(col("name")).alias("initcap_name")


)
df_string.show(truncate=False)

+---+-----------------+----------------------+------------+-----------------+-----------------+-----------------+
|id |name             |email                 |trim_name   |upper_name       |lower_name       |initcap_name     |
+---+-----------------+----------------------+------------+-----------------+-----------------+-----------------+
|1  |ankit bansal     |ankit.bansal@gmail.com|ankit bansal|ANKIT BANSAL     |ankit bansal     |Ankit Bansal     |
|2  |  rohit sharma   |rohit@gmail.com       |rohit sharma|  ROHIT SHARMA   |  rohit sharma   |  Rohit Sharma   |
|3  | virat kohli     |virat@bcci.in         |virat kohli | VIRAT KOHLI     | virat kohli     | Virat Kohli     |
+---+-----------------+----------------------+------------+-----------------+-----------------+-----------------+

In [128]:
df_string.show(5)

+---+-----------------+--------------------+------------+-----------------+-----------------+-----------------+
| id|             name|               email|   trim_name|       upper_name|       lower_name|     initcap_name|
+---+-----------------+--------------------+------------+-----------------+-----------------+-----------------+
|  1|ankit bansal     |ankit.bansal@gmai...|ankit bansal|ANKIT BANSAL     |ankit bansal     |Ankit Bansal     |
|  2|    rohit sharma |     rohit@gmail.com|rohit sharma|    ROHIT SHARMA |    rohit sharma |    Rohit Sharma |
|  3|      virat kohli|       virat@bcci.in| virat kohli|      VIRAT KOHLI|      virat kohli|      Virat Kohli|
+---+-----------------+--------------------+------------+-----------------+-----------------+-----------------+

In [131]:
df_string.select('id','name','email',
                 length(col("name")).alias("name_length"),\
                    substring(col("name"), 1, 6).alias("sub_name"),\
                    concat(trim(col("name")), lit(" , "), col("id")).alias("concat_col"),\
                     split(col("email"), "@").getItem(1).alias("email_domain")
                                   
                ).show(truncate=False)

+---+-----------------+----------------------+-----------+--------+----------------+------------+
|id |name             |email                 |name_length|sub_name|concat_col      |email_domain|
+---+-----------------+----------------------+-----------+--------+----------------+------------+
|1  |ankit bansal     |ankit.bansal@gmail.com|17         |ankit   |ankit bansal , 1|gmail.com   |
|2  |  rohit sharma   |rohit@gmail.com       |15         |  rohi  |rohit sharma , 2|gmail.com   |
|3  | virat kohli     |virat@bcci.in         |12         | virat  |virat kohli , 3 |bcci.in     |
+---+-----------------+----------------------+-----------+--------+----------------+------------+

# Date functions

current_date()
date_add
date_sub()
datediff()
year()
month()
dayofmonth()
date_format()

In [132]:
data = [
(1, "2025-01-10"),
(2, "2025-02-15"),
(3, "2025-03-20")
]

schema = ['id', 'order_date']

df = spark.createDataFrame(data, schema)
print(df.printSchema()) #it should be string type only

df_date = df.withColumn(
                        "order_date", to_date(col("order_date"), "yyyy-MM-dd")
                    ).select(
                            "id",
                            "order_date",
                            current_date().alias("today"),
                            date_add(col("order_date"), 7).alias("plus_7 _days"),
                            date_sub(col("order_date"), 7).alias("minus_7 _days"),
                            datediff(current_date(), col("order_date")).alias("days_diff"),
                            year(col("order_date")).alias("year"),
                            month(col("order_date")).alias("month"),
                            dayofmonth(col("order_date")).alias("day"),
                            date_format(col("order_date"), "yyyy/MM/dd").alias("formatted_date")
                            )
df_date.show(truncate=False)

root
 |-- id: long (nullable = true)
 |-- order_date: string (nullable = true)

None
+---+----------+----------+------------+-------------+---------+----+-----+---+--------------+
|id |order_date|today     |plus_7 _days|minus_7 _days|days_diff|year|month|day|formatted_date|
+---+----------+----------+------------+-------------+---------+----+-----+---+--------------+
|1  |2025-01-10|2026-01-29|2025-01-17  |2025-01-03   |384      |2025|1    |10 |2025/01/10    |
|2  |2025-02-15|2026-01-29|2025-02-22  |2025-02-08   |348      |2025|2    |15 |2025/02/15    |
|3  |2025-03-20|2026-01-29|2025-03-27  |2025-03-13   |315      |2025|3    |20 |2025/03/20    |
+---+----------+----------+------------+-------------+---------+----+-----+---+--------------+

# drop()

In [136]:
df_orders.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|total_price|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|     304.66|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|     352.26|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|  386.55002|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|     195.71|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|     375.24|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
only showing top 5 rows

In [140]:
df_orders.drop(col('order_status'),col('order_id')).show(5)

+-----------+----------+------+----------+-------+--------+-----------+
|customer_id|product_id| price|order_date|  state|quantity|total_price|
+-----------+----------+------+----------+-------+--------+-----------+
|     192520|        70|152.33|2007-10-10| Odisha|       2|     304.66|
|     835421|        34|117.42|2008-12-02| Kerala|       3|     352.26|
|     159165|        13|128.85|2010-04-22|Gujarat|       3|  386.55002|
|     403890|        25|195.71|2007-05-30|  Bihar|       1|     195.71|
|     273746|        41|125.08|2003-12-13| Odisha|       3|     375.24|
+-----------+----------+------+----------+-------+--------+-----------+
only showing top 5 rows

In [141]:
df_orders.drop('order_status','total_price').show(5)

+--------+-----------+----------+------+----------+-------+--------+
|order_id|customer_id|product_id| price|order_date|  state|quantity|
+--------+-----------+----------+------+----------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13| Odisha|       3|
+--------+-----------+----------+------+----------+-------+--------+
only showing top 5 rows

# union , unionAll and unionByName
Used to append rows of one DataFrame to another.

Rule:
Schemas must match exactly
Same number of columns(both columns datatypes should be compatible)
Same data types
Same column order

Column names are not used for matching, only position.

In dataframe api : union == unionAll
Both:
Keep duplicates
Do NOT delete duplicate
Generate identical execution plans
unionAll() still exists only for backward compatibility.

In [147]:
data1 = [
(1, "PLACED", 100),
(2, "SHIPPED", 200),
(3, "DELIVERED", 300)
]

data2 = [
(1, "PLACED", 100),
(4, "PLACED", 150)
]

schema="id int,status string,price int"

df1= spark.createDataFrame(data1,schema=schema)
df2=spark.createDataFrame(data2,schema=schema)

df1.show()
df2.show()
df1.union(df2).show()

df1.unionAll(df2).show()

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
+---+---------+-----+

+---+------+-----+
| id|status|price|
+---+------+-----+
|  1|PLACED|  100|
|  4|PLACED|  150|
+---+------+-----+

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  1|   PLACED|  100|
|  4|   PLACED|  150|
+---+---------+-----+

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  1|   PLACED|  100|
|  4|   PLACED|  150|
+---+---------+-----+

In [151]:
#wrong placement of columns but datatypes are compatible 

data1 = [
(1, "PLACED", 100),
(2, "SHIPPED", 200),
(3, "DELIVERED", 300)
]

data2 = [
(1, 100,"PLACED"),
(4, 500,"PLACED")
]

schema="id int,status string,price int"

df1= spark.createDataFrame(data1,schema=schema)
df2=spark.createDataFrame(data2,schema='id int,price int,status string')

df1.show()
df2.show()
df1.union(df2).show()

df1.unionAll(df2).show()
# fixed
df2_fixed = df2.select('id','status','price')
df1.union(df2_fixed).show()

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
+---+---------+-----+

+---+-----+------+
| id|price|status|
+---+-----+------+
|  1|  100|PLACED|
|  4|  500|PLACED|
+---+-----+------+

+---+---------+------+
| id|   status| price|
+---+---------+------+
|  1|   PLACED|   100|
|  2|  SHIPPED|   200|
|  3|DELIVERED|   300|
|  1|      100|PLACED|
|  4|      500|PLACED|
+---+---------+------+

+---+---------+------+
| id|   status| price|
+---+---------+------+
|  1|   PLACED|   100|
|  2|  SHIPPED|   200|
|  3|DELIVERED|   300|
|  1|      100|PLACED|
|  4|      500|PLACED|
+---+---------+------+

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  1|   PLACED|  100|
|  4|   PLACED|  500|
+---+---------+-----+

In [150]:
#less no of columns

data1 = [
(1, "PLACED", 100),
(2, "SHIPPED", 200),
(3, "DELIVERED", 300)
]

data2 = [
(1,"PLACED"),
(4,"SHIPPED")
]

schema="id int,status string,price int"

df1= spark.createDataFrame(data1,schema=schema)
df2=spark.createDataFrame(data2,schema='id int,status string')

df1.show()
df2.show()
df1.union(df2).show()

df1.unionAll(df2).show()

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
+---+---------+-----+

+---+-------+
| id| status|
+---+-------+
|  1| PLACED|
|  4|SHIPPED|
+---+-------+

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 2 columns.;
'Union false, false
:- LogicalRDD [id#4526, status#4527, price#4528], false
+- LogicalRDD [id#4532, status#4533], false

# unionByName()

if column names are same,but not in same sequence,it will work

In [152]:

data1 = [
(1, "PLACED", 100),
(2, "SHIPPED", 200),
(3, "DELIVERED", 300)
]

data2 = [
(1, 100,"PLACED"),
(4, 500,"PLACED")
]

schema="id int,status string,price int"

df1= spark.createDataFrame(data1,schema=schema)
df2=spark.createDataFrame(data2,schema='id int,price int,status string')

df1.show()
df2.show()
df1.union(df2).show()

df1.unionByName(df2).show()

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
+---+---------+-----+

+---+-----+------+
| id|price|status|
+---+-----+------+
|  1|  100|PLACED|
|  4|  500|PLACED|
+---+-----+------+

+---+---------+------+
| id|   status| price|
+---+---------+------+
|  1|   PLACED|   100|
|  2|  SHIPPED|   200|
|  3|DELIVERED|   300|
|  1|      100|PLACED|
|  4|      500|PLACED|
+---+---------+------+

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  1|   PLACED|  100|
|  4|   PLACED|  500|
+---+---------+-----+

In [154]:
df1.unionByName(df2).show()

df1.unionByName(df2).distinct().show()

df1.unionByName(df2).dropDuplicates().show()

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  1|   PLACED|  100|
|  4|   PLACED|  500|
+---+---------+-----+

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  4|   PLACED|  500|
+---+---------+-----+

+---+---------+-----+
| id|   status|price|
+---+---------+-----+
|  1|   PLACED|  100|
|  2|  SHIPPED|  200|
|  3|DELIVERED|  300|
|  4|   PLACED|  500|
+---+---------+-----+

# intersect() ,intersectAll()

intersect()
Returns common rows between two DataFrames.
like inner join but it will give multiple records if its matching

intersectAll()
it will give matching records(minimum matching records)

In [158]:
data1 = [
            (1, "PLACED", 100),
            (2, "SHIPPED", 200),
            (3, "DELIVERED", 300),
            (3, "DELIVERED", 300),
            (3, "DELIVERED", 300)
        ] 

data2 = [
            (3, "DELIVERED", 300),
            (3, "DELIVERED", 300),
            (4, "PLACED", 150)
        ]

order_schema = "order_id int, order_status string, amount int"
df1 = spark.createDataFrame(data1, order_schema)
df2 = spark.createDataFrame(data2, order_schema)

df1.intersect(df2).show()

df1.intersectAll(df2).show()

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       3|   DELIVERED|   300|
+--------+------------+------+

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       3|   DELIVERED|   300|
|       3|   DELIVERED|   300|
+--------+------------+------+

# exceptAll / subtract

Returns rows present in df1 but not in df2.

In [161]:
df1.show()
df2.show()

df1.subtract(df2).show() #present in df1 only,removes duplicate
df1.exceptAll(df2).show() #keeps duplicate

df2.subtract(df1).show()

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       1|      PLACED|   100|
|       2|     SHIPPED|   200|
|       3|   DELIVERED|   300|
|       3|   DELIVERED|   300|
|       3|   DELIVERED|   300|
+--------+------------+------+

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       3|   DELIVERED|   300|
|       3|   DELIVERED|   300|
|       4|      PLACED|   150|
+--------+------------+------+

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       1|      PLACED|   100|
|       2|     SHIPPED|   200|
+--------+------------+------+

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       1|      PLACED|   100|
|       2|     SHIPPED|   200|
|       3|   DELIVERED|   300|
+--------+------------+------+

+--------+------------+------+
|order_id|order_status|amount|
+--------+------------+------+
|       4|      PLACED|   150|
+--------+------------+------+

# Aggregation

Aggregation is applied on the entire DataFrame, producing one row. Wide
transformation.

Examples:
countDistinct()
total rows  count()
total sum  sum()
min or max value  min() , max()

In [162]:
#simple agg

df_orders.agg(count('*').alias('total_records'), \
              sum('quantity').alias('total_quantity'))\
            .show()

+-------------+--------------+
|total_records|total_quantity|
+-------------+--------------+
|      1000000|       1999699|
+-------------+--------------+

In [203]:
data_list = [
            (1,'2025-01-01',100 , 'Fashion')
            ,(2,'2025-01-02',200 , 'Electronics')
            ,(3,'2025-01-01',300 , 'Electronics')
            ,(4,'2025-01-03',400 , 'Fashion')
            ,(5,'2025-01-03',400 , None)
            ]
table_schema = ["order_id" ,"order_date" ,"sales" , "category"]

df=spark.createDataFrame(data_list,table_schema)
df.show()

df.agg(count('*').alias('total_records'),\
       sum('sales').alias('total_sales'),\
       min('sales').alias('min_sale'),\
       countDistinct('category'),\
       count(lit(100)) ).show()

+--------+----------+-----+-----------+
|order_id|order_date|sales|   category|
+--------+----------+-----+-----------+
|       1|2025-01-01|  100|    Fashion|
|       2|2025-01-02|  200|Electronics|
|       3|2025-01-01|  300|Electronics|
|       4|2025-01-03|  400|    Fashion|
|       5|2025-01-03|  400|       NULL|
+--------+----------+-----+-----------+

+-------------+-----------+--------+------------------------+----------+
|total_records|total_sales|min_sale|count(DISTINCT category)|count(100)|
+-------------+-----------+--------+------------------------+----------+
|            5|       1400|     100|                       2|         5|
+-------------+-----------+--------+------------------------+----------+

In [166]:
df.select(col('category')).distinct().show()

+-----------+
|   category|
+-----------+
|    Fashion|
|       NULL|
|Electronics|
+-----------+

In [167]:
df.agg(count(col('category')),\
      countDistinct('category')).show()

[Stage 473:================================================>    (182 + 5) / 200]

+---------------+------------------------+
|count(category)|count(DISTINCT category)|
+---------------+------------------------+
|              4|                       2|
+---------------+------------------------+

In [169]:
df.select(count('category')).show()

+---------------+
|count(category)|
+---------------+
|              4|
+---------------+

In [170]:
df.select(countDistinct('category')).show()

+------------------------+
|count(DISTINCT category)|
+------------------------+
|                       2|
+------------------------+

# count is a action or transformation ?

df.count()
    DataFrame method
    Belongs to pyspark.sql.DataFrame
    Returns a Python integer
    Triggers execution immediately
    This is an ACTION
    u cant do anything after this

df.select(count("*"))
    its from pyspark.sql.functions
    Returns a Column expression
    Used inside select / agg
    Builds a logical plan
    Needs .show() / .collect() to execute
    This is a TRANSFORMATION

In [171]:
df.agg(count('*'))

DataFrame[count(1): bigint]

In [172]:
df.select(count('*'))

DataFrame[count(1): bigint]

In [173]:
df.count()

5

# Aggregation with group by

In [175]:
# state wise whats my sales

In [179]:
df_orders.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|total_price|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|     304.66|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|     352.26|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|  386.55002|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|     195.71|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|     375.24|
+--------+-----------+----------+------+----------+------------+-------+--------+-----------+
only showing top 5 rows

In [181]:
df_orders.groupBy('state').agg(sum('total_price').alias('stateWiseSales')).show(truncate=False)

+----------------+--------------------+
|state           |stateWiseSales      |
+----------------+--------------------+
|Karnataka       |1.3629439318267822E7|
|Odisha          |1.3736626648277283E7|
|Kerala          |1.3735458184410095E7|
|Tamil Nadu      |1.3649483280632019E7|
|Chhattisgarh    |1.3668757475746155E7|
|Andhra Pradesh  |1.3695602312980652E7|
|Madhya Pradesh  |1.3548080639808655E7|
|Punjab          |1.3570365830787659E7|
|Goa             |1.357118728955841E7 |
|Himachal Pradesh|1.3705509362792969E7|
|Haryana         |1.3642387395133972E7|
|Jharkhand       |1.3620843219596863E7|
|Gujarat         |1.3567808703338623E7|
|Delhi           |1.362033568839264E7 |
|Rajasthan       |1.3570287529380798E7|
|Assam           |1.3680083198547363E7|
|West Bengal     |1.3556346898086548E7|
|Telangana       |1.3509018322944641E7|
|Maharashtra     |1.3697417581672668E7|
|Bihar           |1.3722209040748596E7|
+----------------+--------------------+
only showing top 20 rows

In [208]:
# state wise no of orders
df_orders.groupBy('state')\
            .agg(count('order_id').alias('total_orders'))\
            .sort(col('total_orders').desc())\
            .show()

[Stage 601:===================================================> (196 + 4) / 200]

+----------------+------------+
|           state|total_orders|
+----------------+------------+
|          Odisha|       45719|
|           Bihar|       45718|
|          Kerala|       45691|
|Himachal Pradesh|       45686|
|  Andhra Pradesh|       45650|
|      Tamil Nadu|       45638|
|           Assam|       45574|
|    Chhattisgarh|       45562|
|       Karnataka|       45555|
|     Maharashtra|       45521|
|         Haryana|       45500|
|       Jharkhand|       45490|
|          Punjab|       45479|
|   Uttar Pradesh|       45422|
|     Uttarakhand|       45414|
|           Delhi|       45404|
|         Gujarat|       45340|
|  Madhya Pradesh|       45254|
|     West Bengal|       45123|
|       Rajasthan|       45119|
+----------------+------------+
only showing top 20 rows

In [189]:
 # statewise order status volume

In [199]:
df_orders.groupBy('state','order_status')\
            .agg(count('*').alias('volume'))\
            .orderBy('state','order_status')\
            .show()

+--------------+------------+------+
|         state|order_status|volume|
+--------------+------------+------+
|Andhra Pradesh|   CANCELLED|  2231|
|Andhra Pradesh|   DELIVERED| 11410|
|Andhra Pradesh|      PLACED| 16089|
|Andhra Pradesh|    RETURNED|  4601|
|Andhra Pradesh|     SHIPPED| 11319|
|         Assam|   CANCELLED|  2338|
|         Assam|   DELIVERED| 11357|
|         Assam|      PLACED| 15720|
|         Assam|    RETURNED|  4561|
|         Assam|     SHIPPED| 11598|
|         Bihar|   CANCELLED|  2282|
|         Bihar|   DELIVERED| 11586|
|         Bihar|      PLACED| 16021|
|         Bihar|    RETURNED|  4551|
|         Bihar|     SHIPPED| 11278|
|  Chhattisgarh|   CANCELLED|  2320|
|  Chhattisgarh|   DELIVERED| 11395|
|  Chhattisgarh|      PLACED| 15993|
|  Chhattisgarh|    RETURNED|  4554|
|  Chhattisgarh|     SHIPPED| 11300|
+--------------+------------+------+
only showing top 20 rows

In [205]:
df_orders.groupBy('state','order_status')\
            .agg(count('*').alias('volume'))\
            .where(col('state')=='Goa')\
            .show()

+-----+------------+------+
|state|order_status|volume|
+-----+------------+------+
|  Goa|   CANCELLED|  2281|
|  Goa|    RETURNED|  4510|
|  Goa|     SHIPPED| 11416|
|  Goa|      PLACED| 15699|
|  Goa|   DELIVERED| 11184|
+-----+------------+------+

# take

In [207]:
df_orders.groupBy('state','order_status')\
            .agg(count('*').alias('volume'))\
            .where(col('state')=='Goa')\
            .take(3)

[Row(state='Goa', order_status='CANCELLED', volume=2281),
 Row(state='Goa', order_status='RETURNED', volume=4510),
 Row(state='Goa', order_status='SHIPPED', volume=11416)]

In [209]:
# top 3 states where orders are max
df_orders.groupBy('state')\
            .agg(count('order_id').alias('total_orders'))\
            .sort(col('total_orders').desc())\
            .take(3)

[Row(state='Odisha', total_orders=45719),
 Row(state='Bihar', total_orders=45718),
 Row(state='Kerala', total_orders=45691)]

In [212]:
df_orders.groupBy('state')\
            .agg(count('order_id').alias('total_orders'),sum('quantity').alias('total_quantity'))\
            .sort(col('total_orders').desc())\
            .show(25)

[Stage 616:============================>                            (2 + 2) / 4]

+----------------+------------+--------------+
|           state|total_orders|total_quantity|
+----------------+------------+--------------+
|          Odisha|       45719|         91485|
|           Bihar|       45718|         91474|
|          Kerala|       45691|         91678|
|Himachal Pradesh|       45686|         91537|
|  Andhra Pradesh|       45650|         91258|
|      Tamil Nadu|       45638|         91198|
|           Assam|       45574|         91072|
|    Chhattisgarh|       45562|         91065|
|       Karnataka|       45555|         90926|
|     Maharashtra|       45521|         91162|
|         Haryana|       45500|         91069|
|       Jharkhand|       45490|         91001|
|          Punjab|       45479|         90400|
|   Uttar Pradesh|       45422|         90576|
|     Uttarakhand|       45414|         90787|
|           Delhi|       45404|         90825|
|         Gujarat|       45340|         90580|
|  Madhya Pradesh|       45254|         90372|
|     West Bengal|       45123|         90317|
|       Rajasthan|       45119|         90447|
|             Goa|       45090|         90420|
|       Telangana|       45051|         90050|
+----------------+------------+--------------+

# where/filter

In [218]:
#states where no of orders is lesser than 45100

df_orders.groupBy('state')\
            .agg(count('order_id').alias('total_orders'))\
            .where(col('total_orders')<45100)\
            .show()

+---------+------------+
|    state|total_orders|
+---------+------------+
|      Goa|       45090|
|Telangana|       45051|
+---------+------------+

In [219]:

df_orders.groupBy('state')\
            .agg(count('order_id').alias('total_orders'))\
            .filter(col('total_orders')<45100)\
            .show()

+---------+------------+
|    state|total_orders|
+---------+------------+
|      Goa|       45090|
|Telangana|       45051|
+---------+------------+

# spark.sql

select state,count(order_id) as total_orders
from orders
group by state
having count(order_id)<45100

In [221]:
#1 create tempview first
df_orders.createOrReplaceTempView('sql_orders')

spark.sql(
    '''
    select state,count(order_id) as total_orders
    from sql_orders
    group by state
    having count(order_id)<45100
    '''
).show()

+---------+------------+
|    state|total_orders|
+---------+------------+
|      Goa|       45090|
|Telangana|       45051|
+---------+------------+

In [ ]:
spark.stop()

In [224]:
spark.stop()