In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.\
                builder.\
                master("spark://spark-master:7077").\
                appName("Day_4_spark_internal2").\
                getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/20 18:52:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 38590)
Traceback (most recent call last):
  File "/usr/lib/python3.8/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.8/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.8/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.8/socketserver.py", line 747, in __init__
    self.handle()
  File "/usr/local/lib/python3.8/dist-packages/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/usr/local/lib/python3.8/dist-packages/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
  File "/usr/local/lib/python3.8/dist-packages/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
  File "/usr/local/lib/python3.8/dist-packages/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

In [2]:
order_schema='order_id int,customer_id int,product_id int,price float, order_date date,order_status string,state string,quantity int'

df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .load('/data/orders_1gb.csv')

In [3]:
product_schema ='product_id int,product_name string,cost_price int'

df_products= spark.read.format('csv')\
                        .option('header','true')\
                        .schema(product_schema)\
                        .load('/data/products.csv')

In [4]:
df_orders.show(5)

+--------+-----------+----------+------+----------+------------+----------------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|
+--------+-----------+----------+------+----------+------------+----------------+--------+
|       1|     939829|        85|117.77|2008-03-31|   DELIVERED|Himachal Pradesh|       1|
|       2|     980708|        27|198.37|2015-04-30|     SHIPPED|           Delhi|       2|
|       3|     772335|        22|183.63|2017-01-08|   CANCELLED|       Karnataka|       3|
|       4|     105526|        75|169.02|2007-07-04|   DELIVERED|           Delhi|       2|
|       5|     676233|        29|107.84|2003-03-10|   CANCELLED|         Haryana|       1|
+--------+-----------+----------+------+----------+------------+----------------+--------+
only showing top 5 rows

In [5]:
df_products.show(5)

+----------+--------------------+----------+
|product_id|        product_name|cost_price|
+----------+--------------------+----------+
|         1|      Wireless Mouse|       120|
|         2| Mechanical Keyboard|       135|
|         3|       USB C Charger|       150|
|         4|        Laptop Stand|       165|
|         5|Noise Cancelling ...|       180|
+----------+--------------------+----------+
only showing top 5 rows

# Join() ;Broadcast

In [4]:
df_join = df_orders.join(df_products,'product_id','inner')

df_join.show(5) #show(5) will create a new job not show()

+----------+--------+-----------+------+----------+------------+----------------+--------+--------------------+----------+
|product_id|order_id|customer_id| price|order_date|order_status|           state|quantity|        product_name|cost_price|
+----------+--------+-----------+------+----------+------------+----------------+--------+--------------------+----------+
|        85|       1|     939829|117.77|2008-03-31|   DELIVERED|Himachal Pradesh|       1|Portable Network ...|       260|
|        27|       2|     980708|198.37|2015-04-30|     SHIPPED|           Delhi|       2|Noise Isolating E...|       230|
|        22|       3|     772335|183.63|2017-01-08|   CANCELLED|       Karnataka|       3|        Tablet Cover|       155|
|        75|       4|     105526|169.02|2007-07-04|   DELIVERED|           Delhi|       2|  USB Numeric Keypad|       250|
|        29|       5|     676233|107.84|2003-03-10|   CANCELLED|         Haryana|       1|     Surge Protector|       260|
+----------+--------+-----------+------+----------+------------+----------------+--------+--------------------+----------+
only showing top 5 rows

In [5]:
#dry run for save
df_join = df_orders.join(df_products,'product_id','inner')
df_join.write.format('noop').mode('overwrite').save()

join needs shuffling of tables data before joining.so all the partitions data will be shuffle and exhange ,so same keys will be in same partition(applicable to both tables).

if one of the table has less data/records,instead of shuffling ,we can broadcast this table data to all the partitions which has other table's chunk data.its called BROADCASTING

BROADCASTING
when all the partitions have chunks of records from tab1 and tab2; all the tab2 records from all partitions will go to driver program,it will append and create a file/table,which will store in every executors ,so it can be exposed to every partition for next processes.shuffling not required, that means 200 partiotions will not create

In [7]:
#broadcasting
from pyspark.sql.functions import broadcast
df_bc_join=df_orders.join(broadcast(df_products),'product_id','inner')

In [8]:
df_bc_join.show(5)

+----------+--------+-----------+------+----------+------------+----------------+--------+--------------------+----------+
|product_id|order_id|customer_id| price|order_date|order_status|           state|quantity|        product_name|cost_price|
+----------+--------+-----------+------+----------+------------+----------------+--------+--------------------+----------+
|        85|       1|     939829|117.77|2008-03-31|   DELIVERED|Himachal Pradesh|       1|Portable Network ...|       260|
|        27|       2|     980708|198.37|2015-04-30|     SHIPPED|           Delhi|       2|Noise Isolating E...|       230|
|        22|       3|     772335|183.63|2017-01-08|   CANCELLED|       Karnataka|       3|        Tablet Cover|       155|
|        75|       4|     105526|169.02|2007-07-04|   DELIVERED|           Delhi|       2|  USB Numeric Keypad|       250|
|        29|       5|     676233|107.84|2003-03-10|   CANCELLED|         Haryana|       1|     Surge Protector|       260|
+----------+--------+-----------+------+----------+------------+----------------+--------+--------------------+----------+
only showing top 5 rows

# repartition

we can increase/decrease partitions.
it will shuffle the data and move the data to particular no of partitions.

lets say I have 9 partitions now,each having 100mb data,now i want partition=4.so once i did that,spark will shuffle the data and move data to 4 partitions each having 225mb data.

stage
-------
as we shuffling data, extra stage will be there.one for initial data load,the for shuffle data where partitions will be increase/decrease

USE
----
if partition=9, 9 files will be created and saved in ur system.if its gone through shuffling ,200 files can be created.
if u want to store the o/p in one file ,u can go for repartition
U CAN INCREASE/DECREASE NO OF PARTITIONS
EXPENSIVE--shuffle

In [5]:
schema='order_id int,customer_id int,product_id int,price float, order_date date,order_status string,state string,quantity int'

df = spark.read.format('csv')\
                .option('header','true')\
                .schema(schema)\
                .load('/data/orders_1gb.csv')

df.rdd.getNumPartitions()

9

In [6]:
df1= df.repartition(4)

df1.rdd.getNumPartitions()

4

In [7]:
df1.write.format('noop').mode('overwrite').save()

In [8]:
df.repartition(1).write.format('csv').mode('overwrite').save('/data/orders')

# coalesce

it reduces partitions without a shuffle(so cheaper compare to repartition).
it cannot increase the partitions.
it will not shuffle the data and move data into partition
Rather it will merge the partitions according to given no of partitions require.


let say i have 9 partitions(1.1gb data) and i will do coalesce(4),it will create 4 partitions and sizes will be like 256,256,256,312.
it will MERGE 2partitions and make a new partitions.here the last partition will have 3 partitions to combine(128,128,56)

IT IS FASTER THAN REPARTITION AS IT DOESNT DO SHUFFLING OF DATA.
IT CAN REDUCE NO OF PARTITIONS BEFORE WRITE.
YOU DONT CARE ABOUT DATA DISTRIBUTION.
U CANT INCRAESE NO OF PARTITIONS ;ONLY U CAN DECREASE THE PARTITION.
CHEAPER

In [9]:
df_coalesce = df.coalesce(4)
df_coalesce.write.format('noop').mode('overwrite').save()

26/01/19 12:29:53 WARN HeartbeatReceiver: Removing executor 1 with no recent heartbeats: 134414 ms exceeds timeout 120000 ms
26/01/19 12:29:54 ERROR TaskSchedulerImpl: Lost executor 1 on 172.18.0.6: Executor heartbeat timed out after 134414 ms
26/01/19 12:29:54 WARN TaskSetManager: Lost task 2.0 in stage 6.0 (TID 35) (172.18.0.6 executor 1): ExecutorLostFailure (executor 1 exited caused by one of the running tasks) Reason: Executor heartbeat timed out after 134414 ms
26/01/19 12:29:54 WARN TaskSetManager: Lost task 0.0 in stage 6.0 (TID 33) (172.18.0.6 executor 1): ExecutorLostFailure (executor 1 exited caused by one of the running tasks) Reason: Executor heartbeat timed out after 134414 ms
26/01/19 13:09:27 WARN HeartbeatReceiver: Removing executor 2 with no recent heartbeats: 905285 ms exceeds timeout 120000 ms
26/01/19 13:09:27 ERROR TaskSchedulerImpl: Lost executor 2 on 172.18.0.6: Executor heartbeat timed out after 905285 ms
26/01/19 13:19:49 WARN HeartbeatReceiver: Removing executor 3 with no recent heartbeats: 347307 ms exceeds timeout 120000 ms
26/01/19 13:19:49 ERROR TaskSchedulerImpl: Lost executor 3 on 172.18.0.6: Executor heartbeat timed out after 347307 ms
26/01/19 13:39:49 WARN HeartbeatReceiver: Removing executor 4 with no recent heartbeats: 170822 ms exceeds timeout 120000 ms
26/01/19 13:39:50 ERROR TaskSchedulerImpl: Lost executor 4 on 172.18.0.6: Executor heartbeat timed out after 170822 ms
26/01/19 13:44:59 WARN HeartbeatReceiver: Removing executor 5 with no recent heartbeats: 195345 ms exceeds timeout 120000 ms
26/01/19 13:44:59 ERROR TaskSchedulerImpl: Lost executor 5 on 172.18.0.6: Executor heartbeat timed out after 195345 ms
26/01/19 13:49:52 WARN HeartbeatReceiver: Removing executor 6 with no recent heartbeats: 153983 ms exceeds timeout 120000 ms
26/01/19 13:49:52 ERROR TaskSchedulerImpl: Lost executor 6 on 172.18.0.6: Executor heartbeat timed out after 153983 ms
26/01/19 14:02:17 WARN HeartbeatReceiver: Removing executor 7 with no recent heartbeats: 616377 ms exceeds timeout 120000 ms
26/01/19 14:02:17 ERROR TaskSchedulerImpl: Lost executor 7 on 172.18.0.6: Executor heartbeat timed out after 616377 ms

# corrupt Records

In [17]:
#wrong datatype in state
order_schema='order_id int,customer_id int,product_id int,price float, order_date date,order_status string,state int,quantity int'

df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .load('/data/orders_50mb_bad_records.csv')

df_orders.show(25)
#order id 1,11,16,21 have bad records

+--------+-----------+----------+------+----------+------------+-----+--------+
|order_id|customer_id|product_id| price|order_date|order_status|state|quantity|
+--------+-----------+----------+------+----------+------------+-----+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| NULL|    NULL|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| NULL|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED| NULL|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED| NULL|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| NULL|       3|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED| NULL|       2|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED| NULL|       3|
|       8|     978829|         3|174.42|2005-12-21|      PLACED| NULL|       3|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED| NULL|       2|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED| NULL|       3|
|      11|     790506|        44|182.15|2014-01-16|      PLACED| NULL|    NULL|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED| NULL|       2|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED| NULL|       3|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED| NULL|       2|
|      15|     872616|         8|179.21|2009-04-17|      PLACED| NULL|       1|
|      16|      28025|        80|172.46|      NULL|    RETURNED| NULL|       1|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED| NULL|       2|
|      18|     120735|        34|146.92|2016-08-21|      PLACED| NULL|       1|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED| NULL|       1|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED| NULL|       2|
|      21|     906056|      NULL|191.32|2018-10-25|    RETURNED| NULL|       2|
|      22|     721953|        31|143.41|2005-02-27|    RETURNED| NULL|       2|
|      23|     300571|        34|103.91|2001-05-22|    RETURNED| NULL|       3|
|      24|      67194|        71|131.88|2015-07-24|    RETURNED| NULL|       1|
|      25|     600232|        48|194.13|2014-01-18|     SHIPPED| NULL|       1|
+--------+-----------+----------+------+----------+------------+-----+--------+
only showing top 25 rows

3 types of mode.
1.permissive(which is wrong,it will display as NULL)--default
2.DROPMALFORMED(drop the malformed record)
3.FAILFAST(fail the execution)

In [20]:
# u can delete them by changing mode

df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .option('mode','DROPMALFORMED')\
                .load('/data/orders_50mb_bad_records.csv')

df_orders.show() #because whole state is malformed

[Stage 17:===================>                                      (1 + 2) / 3]

+--------+-----------+----------+-----+----------+------------+-----+--------+
|order_id|customer_id|product_id|price|order_date|order_status|state|quantity|
+--------+-----------+----------+-----+----------+------------+-----+--------+
+--------+-----------+----------+-----+----------+------------+-----+--------+

In [22]:
order_schema='order_id int,customer_id int,product_id int,price float, order_date date,order_status string,state string,quantity int'

df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .option("mode",'DROPMALFORMED')\
                .load('/data/orders_50mb_bad_records.csv')
df_orders.show(22) #order id 1,11,16,21 are droped

+--------+-----------+----------+------+----------+------------+----------------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|
+--------+-----------+----------+------+----------+------------+----------------+--------+
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|
|      22|     721953|        31|143.41|2005-02-27|    RETURNED|       Karnataka|       2|
|      23|     300571|        34|103.91|2001-05-22|    RETURNED|     Uttarakhand|       3|
|      24|      67194|        71|131.88|2015-07-24|    RETURNED|  Madhya Pradesh|       1|
|      25|     600232|        48|194.13|2014-01-18|     SHIPPED|         Haryana|       1|
|      26|     141431|        79|158.12|2001-11-19|   DELIVERED|       Karnataka|       3|
+--------+-----------+----------+------+----------+------------+----------------+--------+
only showing top 22 rows

In [23]:
order_schema='order_id int,customer_id int,product_id int,price float, order_date date,order_status string,state string,quantity int'

df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .option("mode",'FAILFAST')\
                .load('/data/orders_50mb_bad_records.csv')
df_orders.show(22)

26/01/20 19:31:48 WARN TaskSetManager: Lost task 0.0 in stage 19.0 (TID 31) (172.18.0.6 executor 1): org.apache.spark.SparkException: Encountered error while reading file file:///data/orders_50mb_bad_records.csv. Details:
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFilesError(QueryExecutionErrors.scala:863)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:293)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.base/java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [1,192520,70,152.33,13796,PLACED,Odisha,null].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1610)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:456)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:283)
	... 22 more
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Gyan"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:365)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:307)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:452)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 28 more
Caused by: java.lang.NumberFormatException: For input string: "Gyan"
	at java.base/java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.base/java.lang.Integer.parseInt(Unknown Source)
	at java.base/java.lang.Integer.parseInt(Unknown Source)
	at scala.collection.immutable.StringLike.toInt(StringLike.scala:310)
	at scala.collection.immutable.StringLike.toInt$(StringLike.scala:310)
	at scala.collection.immutable.StringOps.toInt(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6$adapted(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:291)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$5(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:346)
	... 31 more

26/01/20 19:31:49 ERROR TaskSetManager: Task 0 in stage 19.0 failed 4 times; aborting job

Py4JJavaError: An error occurred while calling o209.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 19.0 failed 4 times, most recent failure: Lost task 0.3 in stage 19.0 (TID 34) (172.18.0.6 executor 1): org.apache.spark.SparkException: Encountered error while reading file file:///data/orders_50mb_bad_records.csv. Details:
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFilesError(QueryExecutionErrors.scala:863)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:293)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.base/java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [1,192520,70,152.33,13796,PLACED,Odisha,null].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1610)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:456)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:283)
	... 22 more
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Gyan"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:365)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:307)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:452)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 28 more
Caused by: java.lang.NumberFormatException: For input string: "Gyan"
	at java.base/java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.base/java.lang.Integer.parseInt(Unknown Source)
	at java.base/java.lang.Integer.parseInt(Unknown Source)
	at scala.collection.immutable.StringLike.toInt(StringLike.scala:310)
	at scala.collection.immutable.StringLike.toInt$(StringLike.scala:310)
	at scala.collection.immutable.StringOps.toInt(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6$adapted(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:291)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$5(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:346)
	... 31 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4332)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4322)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4320)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4320)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3537)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)
Caused by: org.apache.spark.SparkException: Encountered error while reading file file:///data/orders_50mb_bad_records.csv. Details:
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFilesError(QueryExecutionErrors.scala:863)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:293)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.base/java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [1,192520,70,152.33,13796,PLACED,Odisha,null].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1610)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:456)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:129)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:283)
	... 22 more
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: java.lang.NumberFormatException: For input string: "Gyan"
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:365)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:307)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:452)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 28 more
Caused by: java.lang.NumberFormatException: For input string: "Gyan"
	at java.base/java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.base/java.lang.Integer.parseInt(Unknown Source)
	at java.base/java.lang.Integer.parseInt(Unknown Source)
	at scala.collection.immutable.StringLike.toInt(StringLike.scala:310)
	at scala.collection.immutable.StringLike.toInt$(StringLike.scala:310)
	at scala.collection.immutable.StringOps.toInt(StringOps.scala:33)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$6$adapted(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.nullSafeDatum(UnivocityParser.scala:291)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$makeConverter$5(UnivocityParser.scala:189)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:346)
	... 31 more

## i want to know the corrupt records and write it somewhere else

In [24]:
#add _corrupt_record column in schema,it will show full record in the column

order_schema='order_id int,customer_id int,product_id int,price float, \
                order_date date,order_status string,state string,quantity int,\
                _corrupt_record string'

df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .load('/data/orders_50mb_bad_records.csv')
df_orders.show(22)

+--------+-----------+----------+------+----------+------------+----------------+--------+--------------------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|     _corrupt_record|
+--------+-----------+----------+------+----------+------------+----------------+--------+--------------------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|    NULL|1,192520,70,152.3...|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|                NULL|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|                NULL|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|                NULL|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|                NULL|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|                NULL|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|                NULL|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|                NULL|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|                NULL|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|                NULL|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|    NULL|11,790506,44,182....|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|                NULL|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|                NULL|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|                NULL|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|                NULL|
|      16|      28025|        80|172.46|      NULL|    RETURNED|          Odisha|       1|16,28025,80,172.4...|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|                NULL|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|                NULL|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|                NULL|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|                NULL|
|      21|     906056|      NULL|191.32|2018-10-25|    RETURNED|         Haryana|       2|21,906056,cust_id...|
|      22|     721953|        31|143.41|2005-02-27|    RETURNED|       Karnataka|       2|                NULL|
+--------+-----------+----------+------+----------+------------+----------------+--------+--------------------+
only showing top 22 rows

In [25]:
df_orders = spark.read.format('csv')\
                .option('header','true')\
                .schema(order_schema)\
                .load('/data/orders_50mb_bad_records.csv')
df_orders.show(truncate=False) #it will give the full list in _corrupt_record column
#now we can filter based on that _corrupt_record col

+--------+-----------+----------+------+----------+------------+----------------+--------+-------------------------------------------------------------+
|order_id|customer_id|product_id|price |order_date|order_status|state           |quantity|_corrupt_record                                              |
+--------+-----------+----------+------+----------+------------+----------------+--------+-------------------------------------------------------------+
|1       |192520     |70        |152.33|2007-10-10|PLACED      |Odisha          |NULL    |1,192520,70,152.33,2007-10-10,PLACED,Odisha,Gyan             |
|2       |835421     |34        |117.42|2008-12-02|SHIPPED     |Kerala          |3       |NULL                                                         |
|3       |159165     |13        |128.85|2010-04-22|DELIVERED   |Gujarat         |3       |NULL                                                         |
|4       |403890     |25        |195.71|2007-05-30|CANCELLED   |Bihar           |1       |NULL                                                         |
|5       |273746     |41        |125.08|2003-12-13|SHIPPED     |Odisha          |3       |NULL                                                         |
|6       |944219     |41        |188.95|2002-05-15|DELIVERED   |Rajasthan       |2       |NULL                                                         |
|7       |445844     |28        |117.61|2009-08-04|SHIPPED     |Assam           |3       |NULL                                                         |
|8       |978829     |3         |174.42|2005-12-21|PLACED      |Assam           |3       |NULL                                                         |
|9       |929531     |78        |185.21|2002-11-25|RETURNED    |West Bengal     |2       |NULL                                                         |
|10      |500689     |89        |192.37|2007-09-14|DELIVERED   |Uttarakhand     |3       |NULL                                                         |
|11      |790506     |44        |182.15|2014-01-16|PLACED      |Himachal Pradesh|NULL    |11,790506,44,182.15,2014-01-16,PLACED,Himachal Pradesh,HPGyan|
|12      |740250     |39        |133.37|2014-09-24|DELIVERED   |Telangana       |2       |NULL                                                         |
|13      |138094     |59        |191.5 |2000-03-30|RETURNED    |Delhi           |3       |NULL                                                         |
|14      |680914     |19        |153.61|2017-05-26|SHIPPED     |Haryana         |2       |NULL                                                         |
|15      |872616     |8         |179.21|2009-04-17|PLACED      |Punjab          |1       |NULL                                                         |
|16      |28025      |80        |172.46|NULL      |RETURNED    |Odisha          |1       |16,28025,80,172.46,wowdate,RETURNED,Odisha,1                 |
|17      |882018     |3         |161.33|2009-02-19|RETURNED    |Gujarat         |2       |NULL                                                         |
|18      |120735     |34        |146.92|2016-08-21|PLACED      |West Bengal     |1       |NULL                                                         |
|19      |968956     |9         |112.14|2008-03-14|DELIVERED   |Uttarakhand     |1       |NULL                                                         |
|20      |59229      |14        |154.1 |2018-04-23|PLACED      |Himachal Pradesh|2       |NULL                                                         |
+--------+-----------+----------+------+----------+------------+----------------+--------+-------------------------------------------------------------+
only showing top 20 rows

# Datatypes

In [26]:
from pyspark.sql.types import *

In [32]:
orders_schema_struct = StructType(
                                [
                                    StructField("order_id",IntegerType()),
                                    StructField("customer_id",IntegerType()),
                                    StructField("product_id",IntegerType()),
                                    StructField("price",FloatType()),
                                    StructField("order_date",DateType()),
                                    StructField("order_status",StringType()),
                                    StructField("state",StringType()),
                                    StructField("quantity",IntegerType()),
                                ]
                            )

df = spark.read.format('csv')\
                .schema(orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_50mb.csv')

df.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [33]:
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: integer (nullable = true)

# create Dataframe in diff approach

In [49]:
#1
df = spark.read.csv('/data/orders_50mb.csv',header=True,schema=orders_schema_struct)
df.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [35]:
#2
df1 = spark.read.format('csv')\
                .schema(orders_schema_struct)\
                .option('header','true')\
                .load('/data/orders_50mb.csv')
df1.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [37]:
#3 create tempview from df

df.createOrReplaceTempView('orders')

df_odisha = spark.sql("select * from orders where state='Odisha' ")
df_odisha.show()

+--------+-----------+----------+------+----------+------------+------+--------+
|order_id|customer_id|product_id| price|order_date|order_status| state|quantity|
+--------+-----------+----------+------+----------+------------+------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|Odisha|       2|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|Odisha|       3|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|Odisha|       1|
|      27|     809842|        21|146.57|2006-03-31|   DELIVERED|Odisha|       2|
|      40|     740495|        38|160.57|2004-10-13|   DELIVERED|Odisha|       1|
|      51|     746341|        47|141.38|2018-04-03|   DELIVERED|Odisha|       3|
|      63|     272132|        50|113.12|2008-07-25|      PLACED|Odisha|       2|
|      67|     149080|        39|136.42|2009-08-13|     SHIPPED|Odisha|       2|
|      83|     819486|        73|145.08|2023-07-16|     SHIPPED|Odisha|       3|
|      95|     654840|        72| 132.7|2023-05-11|   DELIVERED|Odisha|       2|
|     173|     690851|        85|118.06|2010-10-24|     SHIPPED|Odisha|       1|
|     181|     894190|        29|104.56|2004-05-06|      PLACED|Odisha|       2|
|     210|     863474|        36|114.31|2022-07-02|      PLACED|Odisha|       3|
|     216|     106023|        74|182.55|2018-06-02|      PLACED|Odisha|       1|
|     249|     797872|        60|119.39|2024-10-15|      PLACED|Odisha|       2|
|     269|     245839|        69|155.72|2011-12-30|      PLACED|Odisha|       2|
|     289|     409236|        18|183.89|2012-07-06|      PLACED|Odisha|       2|
|     316|     817978|        23|146.84|2018-01-05|     SHIPPED|Odisha|       3|
|     326|     391639|         9|161.86|2012-01-31|     SHIPPED|Odisha|       3|
|     369|     962847|         7|166.09|2022-12-10|   DELIVERED|Odisha|       1|
+--------+-----------+----------+------+----------+------------+------+--------+
only showing top 20 rows

In [38]:
#4 demo df
spark.range(2,10).show()

+---+
| id|
+---+
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [39]:
spark.range(2,10,3).show()

+---+
| id|
+---+
|  2|
|  5|
|  8|
+---+

In [40]:
#5 directly from table

df_table= spark.table('orders') #orders is a table

df_table.show(5)

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

In [43]:
#6 from dataset list

data =[(1,'Gyan','DATA_ENGG'),
      (2,'Bighna','LIC'),
      (3,'xyz','IDBI')]

df = spark.createDataFrame(data,schema=['id','name','company'])

df.show()

+---+------+---------+
| id|  name|  company|
+---+------+---------+
|  1|  Gyan|DATA_ENGG|
|  2|Bighna|      LIC|
|  3|   xyz|     IDBI|
+---+------+---------+

In [44]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- company: string (nullable = true)

In [48]:
#schema in a single '',not in [] also
df = spark.createDataFrame(data,schema='id int, name string, company string')
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- company: string (nullable = true)

# select

In [50]:
df.show()

+--------+-----------+----------+------+----------+------------+----------------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|
+--------+-----------+----------+------+----------+------------+----------------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|          Odisha|       1|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|
+--------+-----------+----------+------+----------+------------+----------------+--------+
only showing top 20 rows

In [56]:
#1
from pyspark.sql.functions import *
df.select(col('order_id'),col('order_status')).show(5)

+--------+------------+
|order_id|order_status|
+--------+------------+
|       1|      PLACED|
|       2|     SHIPPED|
|       3|   DELIVERED|
|       4|   CANCELLED|
|       5|     SHIPPED|
+--------+------------+
only showing top 5 rows

In [52]:
#2

df.select('order_id','order_status')

DataFrame[order_id: int, order_status: string]

In [53]:
df.select('order_id','order_status').show()

+--------+------------+
|order_id|order_status|
+--------+------------+
|       1|      PLACED|
|       2|     SHIPPED|
|       3|   DELIVERED|
|       4|   CANCELLED|
|       5|     SHIPPED|
|       6|   DELIVERED|
|       7|     SHIPPED|
|       8|      PLACED|
|       9|    RETURNED|
|      10|   DELIVERED|
|      11|      PLACED|
|      12|   DELIVERED|
|      13|    RETURNED|
|      14|     SHIPPED|
|      15|      PLACED|
|      16|    RETURNED|
|      17|    RETURNED|
|      18|      PLACED|
|      19|   DELIVERED|
|      20|      PLACED|
+--------+------------+
only showing top 20 rows

In [54]:
#3
df.select('*').show() #all cols

+--------+-----------+----------+------+----------+------------+----------------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|
+--------+-----------+----------+------+----------+------------+----------------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|          Odisha|       1|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|
+--------+-----------+----------+------+----------+------------+----------------+--------+
only showing top 20 rows

# expr(),selectExpr()

In [59]:
#4
#new column

df.select('order_id','order_status','price','quantity',expr('price*quantity as sales')).show(3)

+--------+------------+------+--------+---------+
|order_id|order_status| price|quantity|    sales|
+--------+------------+------+--------+---------+
|       1|      PLACED|152.33|       2|   304.66|
|       2|     SHIPPED|117.42|       3|   352.26|
|       3|   DELIVERED|128.85|       3|386.55002|
+--------+------------+------+--------+---------+
only showing top 3 rows

In [59]:
#4
#new column

df.select('order_id','order_status','price','quantity',expr('price*quantity as sales')).show(3)

+--------+------------+------+--------+---------+
|order_id|order_status| price|quantity|    sales|
+--------+------------+------+--------+---------+
|       1|      PLACED|152.33|       2|   304.66|
|       2|     SHIPPED|117.42|       3|   352.26|
|       3|   DELIVERED|128.85|       3|386.55002|
+--------+------------+------+--------+---------+
only showing top 3 rows

In [60]:
df.selectExpr('order_id','order_status','price','quantity','price*quantity as sales','price/quantity as sales1').show(5)

+--------+------------+------+--------+---------+-----------------+
|order_id|order_status| price|quantity|    sales|           sales1|
+--------+------------+------+--------+---------+-----------------+
|       1|      PLACED|152.33|       2|   304.66|76.16500091552734|
|       2|     SHIPPED|117.42|       3|   352.26|39.13999938964844|
|       3|   DELIVERED|128.85|       3|386.55002|42.95000203450521|
|       4|   CANCELLED|195.71|       1|   195.71|195.7100067138672|
|       5|     SHIPPED|125.08|       3|   375.24| 41.6933339436849|
+--------+------------+------+--------+---------+-----------------+
only showing top 5 rows

In [62]:
df.select(col('order_id'),'order_status','price','quantity',col('price')*col('quantity')).show(5)

+--------+------------+------+--------+------------------+
|order_id|order_status| price|quantity|(price * quantity)|
+--------+------------+------+--------+------------------+
|       1|      PLACED|152.33|       2|            304.66|
|       2|     SHIPPED|117.42|       3|            352.26|
|       3|   DELIVERED|128.85|       3|         386.55002|
|       4|   CANCELLED|195.71|       1|            195.71|
|       5|     SHIPPED|125.08|       3|            375.24|
+--------+------------+------+--------+------------------+
only showing top 5 rows

In [64]:
df.select(df['order_id'],df.order_status).show(5)

+--------+------------+
|order_id|order_status|
+--------+------------+
|       1|      PLACED|
|       2|     SHIPPED|
|       3|   DELIVERED|
|       4|   CANCELLED|
|       5|     SHIPPED|
+--------+------------+
only showing top 5 rows

26/01/20 20:45:59 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-d0f7a4f7-a8cb-4375-b63e-ce99d0080d7c. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-d0f7a4f7-a8cb-4375-b63e-ce99d0080d7c
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:173)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:109)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:90)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively(SparkFileUtils.scala:121)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively$(SparkFileUtils.scala:120)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1126)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:368)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:364)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:364)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:359)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2120)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$25(SparkContext.scala:2310)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1375)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2310)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2216)
	at org.apache.spark.SparkContext.$anonfun$new$34(SparkContext.scala:686)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)