# TOPICS COVERED HERE

PDF Document No-9

join--inner,left,right,outer
special join(left semi join,left anti join,cross join)
logical join(selfjoin)--col('e1.dept_id')
Null wont match with Null
windows vs groupBy
Windows functions--wide transformation
-----------------
partitionBy(),row_number().over(),rank().over(),dense_rank().over()
row_number,rank ,dense_rank needs orderBy --mandatory
lead(),lag()
IMP--partitionBy,orderBy() --select * ,sum(salary) over() as total_salary from table---without giving anything there just to put a value there
%of salary from total_salary
Running salary
rowsBetween--unboundedPreceding,unboundedFollowing,currentRow or 0,-2
# spark sql doesnt support delete from

UDF--how to register for dataframe and spark sql

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession\
                    .builder\
                    .master("spark://spark-master:7077")\
                    .appName("Day_6_DataFrame_2")\
                    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/02 10:32:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/02 10:32:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [13]:
orders_schema_struct = StructType(
                                    [
                                        StructField("order_id",IntegerType()),
                                        StructField("customer_id",IntegerType()),
                                        StructField("product_id",IntegerType()),
                                        StructField("price",FloatType()),
                                        StructField("order_date",DateType()),
                                        StructField("order_status",StringType()),
                                        StructField("state",StringType()),
                                        StructField("quantity",IntegerType()),
                                    ]
                                )

df_orders = spark.read.csv('/data/orders_50mb.csv',schema=orders_schema_struct,header=True)

df_orders.show(5)

[Stage 0:>                                                          (0 + 1) / 1]

+--------+-----------+----------+------+----------+------------+-------+--------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|
+--------+-----------+----------+------+----------+------------+-------+--------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|
+--------+-----------+----------+------+----------+------------+-------+--------+
only showing top 5 rows

26/01/31 06:20:33 ERROR TaskSchedulerImpl: Lost executor 1 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 06:20:33 ERROR TaskSchedulerImpl: Lost executor 0 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 06:51:32 ERROR TaskSchedulerImpl: Lost executor 2 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 06:51:32 ERROR TaskSchedulerImpl: Lost executor 3 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 07:01:27 ERROR TaskSchedulerImpl: Lost executor 5 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 07:01:27 ERROR TaskSchedulerImpl: Lost executor 4 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 07:37:37 ERROR TaskSchedulerImpl: Lost executor 7 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 07:37:37 ERROR TaskSchedulerImpl: Lost executor 6 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 07:49:47 ERROR TaskSchedulerImpl: Lost executor 9 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 07:49:47 ERROR TaskSchedulerImpl: Lost executor 8 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 08:03:18 ERROR TaskSchedulerImpl: Lost executor 10 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 08:03:18 ERROR TaskSchedulerImpl: Lost executor 11 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds

In [144]:
#product table
product_schema_struct = StructType(
                                    [
                                    StructField('product_id',IntegerType()),
                                    StructField('product_name',StringType()),
                                    StructField('cost_price',FloatType())
                                    ]
                                )

df_product = spark.read.csv('/data/products.csv',schema=product_schema_struct,header=True)

df_product.show()

+----------+--------------------+----------+
|product_id|        product_name|cost_price|
+----------+--------------------+----------+
|         1|      Wireless Mouse|     120.0|
|         2| Mechanical Keyboard|     135.0|
|         3|       USB C Charger|     150.0|
|         4|        Laptop Stand|     165.0|
|         5|Noise Cancelling ...|     180.0|
|         6|   Bluetooth Speaker|     195.0|
|         7| External Hard Drive|     210.0|
|         8|           Webcam HD|     225.0|
|         9|    Gaming Mouse Pad|     240.0|
|        10|   Smartphone Tripod|     255.0|
|        11|    Wireless Earbuds|     130.0|
|        12| Power Bank 10000mAh|     145.0|
|        13|          HDMI Cable|     160.0|
|        14|USB Flash Drive 64GB|     175.0|
|        15|  Portable SSD 500GB|     190.0|
|        16|     Smartwatch Band|     205.0|
|        17|     Fitness Tracker|     220.0|
|        18|       Desk Lamp LED|     235.0|
|        19|         Monitor Arm|     250.0|
|        20|Office Chair Cushion|     265.0|
+----------+--------------------+----------+
only showing top 20 rows

# JOIN()

In [15]:
df = df_orders.join(df_product,df_orders.product_id==df_product.product_id,'inner')

df.show(5) #product_id column two times
df.printSchema()

+--------+-----------+----------+------+----------+------------+-------+--------+----------+-------------------+----------+
|order_id|customer_id|product_id| price|order_date|order_status|  state|quantity|product_id|       product_name|cost_price|
+--------+-----------+----------+------+----------+------------+-------+--------+----------+-------------------+----------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED| Odisha|       2|        70|         VR Headset|     315.0|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED| Kerala|       3|        34|WiFi Range Extender|     195.0|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|Gujarat|       3|        13|         HDMI Cable|     160.0|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|  Bihar|       1|        25|    Ergonomic Mouse|     200.0|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED| Odisha|       3|        41|Keyboard Wrist Rest|     160.0|
+--------+-----------+----------+------+----------+------------+-------+--------+----------+-------------------+----------+
only showing top 5 rows

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- cost_price: float (nullable = true)

In [17]:
df.select('product_id','product_name').show() # it will not work as it has two col of same name

AnalysisException: [AMBIGUOUS_REFERENCE] Reference `product_id` is ambiguous, could be: [`product_id`, `product_id`].

In [18]:
df.select(df_orders.product_id,'product_name').show(5)

+----------+-------------------+
|product_id|       product_name|
+----------+-------------------+
|        70|         VR Headset|
|        34|WiFi Range Extender|
|        13|         HDMI Cable|
|        25|    Ergonomic Mouse|
|        41|Keyboard Wrist Rest|
+----------+-------------------+
only showing top 5 rows

In [16]:
df1= df_orders.join(df_product,'product_id','inner') #only one timeproduct_id col will come
df1.show(5)
df1.printSchema()

+----------+--------+-----------+------+----------+------------+-------+--------+-------------------+----------+
|product_id|order_id|customer_id| price|order_date|order_status|  state|quantity|       product_name|cost_price|
+----------+--------+-----------+------+----------+------------+-------+--------+-------------------+----------+
|        70|       1|     192520|152.33|2007-10-10|      PLACED| Odisha|       2|         VR Headset|     315.0|
|        34|       2|     835421|117.42|2008-12-02|     SHIPPED| Kerala|       3|WiFi Range Extender|     195.0|
|        13|       3|     159165|128.85|2010-04-22|   DELIVERED|Gujarat|       3|         HDMI Cable|     160.0|
|        25|       4|     403890|195.71|2007-05-30|   CANCELLED|  Bihar|       1|    Ergonomic Mouse|     200.0|
|        41|       5|     273746|125.08|2003-12-13|     SHIPPED| Odisha|       3|Keyboard Wrist Rest|     160.0|
+----------+--------+-----------+------+----------+------------+-------+--------+-------------------+----------+
only showing top 5 rows

root
 |-- product_id: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- state: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- cost_price: float (nullable = true)

In [20]:
df.select(col('order_id'),df_orders.product_id,(col('price')-col('cost_price')).alias('profit')).show()

+--------+----------+-----------+
|order_id|product_id|     profit|
+--------+----------+-----------+
|       1|        70|    -162.67|
|       2|        34|     -77.58|
|       3|        13| -31.149994|
|       4|        25| -4.2899933|
|       5|        41|     -34.92|
|       6|        41|  28.949997|
|       7|        28|    -127.39|
|       8|         3|  24.419998|
|       9|        78| -109.78999|
|      10|        89|-127.630005|
|      11|        44| -22.850006|
|      12|        39|    -136.63|
|      13|        59|      -98.5|
|      14|        19|     -96.39|
|      15|         8| -45.789993|
|      16|        80|    -152.54|
|      17|         3|  11.330002|
|      18|        34|     -48.08|
|      19|         9|    -127.86|
|      20|        14| -20.899994|
+--------+----------+-----------+
only showing top 20 rows

# join with multiple keys

In [8]:
data1 = [(1, "A", 10.0), (2, "B", 20.0), (3, "C", 30.0)]
columns1 = ["id", "category", "value1"]
df1 = spark.createDataFrame(data1, columns1)
df1.show()
df1.select('id').show()

data2 = [(1, "A", 100.0), (2, "B", 200.0), (4, "D", 400.0)]
columns2 = ["user_id", "category", "value2"]
df2 = spark.createDataFrame(data2, columns2)
df2.show()

# Join on "id" and "category"
df_joined = df1.join(df2, ( (df1['id']==df2['user_id'])&(df1['category']==df2['category']) ), how="inner")
df_joined.show()

#or
df_joined = df1.join(df2, ( (df1.id==df2.user_id)\
                           &(df1.category==df2.category)) , how="inner")
df_joined.show()

+---+--------+------+
| id|category|value1|
+---+--------+------+
|  1|       A|  10.0|
|  2|       B|  20.0|
|  3|       C|  30.0|
+---+--------+------+

+---+
| id|
+---+
|  1|
|  2|
|  3|
+---+

+-------+--------+------+
|user_id|category|value2|
+-------+--------+------+
|      1|       A| 100.0|
|      2|       B| 200.0|
|      4|       D| 400.0|
+-------+--------+------+

+---+--------+------+-------+--------+------+
| id|category|value1|user_id|category|value2|
+---+--------+------+-------+--------+------+
|  2|       B|  20.0|      2|       B| 200.0|
|  1|       A|  10.0|      1|       A| 100.0|
+---+--------+------+-------+--------+------+

+---+--------+------+-------+--------+------+
| id|category|value1|user_id|category|value2|
+---+--------+------+-------+--------+------+
|  2|       B|  20.0|      2|       B| 200.0|
|  1|       A|  10.0|      1|       A| 100.0|
+---+--------+------+-------+--------+------+

In [ ]:
#df1.join(df2,['col1','col2'],'inner')

employee_schema = StructType([
                            StructField("emp_id", IntegerType(), True),
                            StructField("emp_name", StringType(), True),
                            StructField("dept_id", IntegerType(), True),
                            StructField("salary", IntegerType(), True),
                            StructField("manager_id", IntegerType(), True),
                            StructField("emp_age", IntegerType(), True)
                            ])

employee_data = [
(1, "Ankit", 100, 10000, 4, 39),
(2, "Mohit", 100, 15000, 5, 48),
(3, "Vikas", 100, 10000, 4, 37),
(4, "Rohit", 100, 5000, 2, 16),
(5, "Mudit", 200, 12000, 6, 55),
(6, "Agam", 200, 12000, 2, 14),
(7, "Sanjay", 200, 9000, 2, 13),
(8, "Ashish", 200, 5000, 2, 12),
(9, "Mukesh", 300, 6000, 6, 51),
(10, "Rakesh", 500, 7000, 6, 50)
]
employee_df = spark.createDataFrame(employee_data, employee_schema)

dept_schema = StructType([
StructField("dept_id", IntegerType(), True),
StructField("dept_name", StringType(), True)
])
dept_data = [
(100, "Analytics"),
(200, "IT"),
(300, "HR"),
(400, "Text Analytics")
]
dept_df = spark.createDataFrame(dept_data, dept_schema)

employee_df.show()
dept_df.show()

26/02/02 10:34:26 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

In [22]:
#inner join
employee_df.join(dept_df,['dept_id'],'inner').show() # 9 rows

+-------+------+--------+------+----------+-------+---------+
|dept_id|emp_id|emp_name|salary|manager_id|emp_age|dept_name|
+-------+------+--------+------+----------+-------+---------+
|    300|     9|  Mukesh|  6000|         6|     51|       HR|
|    100|     1|   Ankit| 10000|         4|     39|Analytics|
|    100|     2|   Mohit| 15000|         5|     48|Analytics|
|    100|     3|   Vikas| 10000|         4|     37|Analytics|
|    100|     4|   Rohit|  5000|         2|     16|Analytics|
|    200|     5|   Mudit| 12000|         6|     55|       IT|
|    200|     6|    Agam| 12000|         2|     14|       IT|
|    200|     7|  Sanjay|  9000|         2|     13|       IT|
|    200|     8|  Ashish|  5000|         2|     12|       IT|
+-------+------+--------+------+----------+-------+---------+

In [23]:
#left table
employee_df.join(dept_df,['dept_id'],'left').show()

+-------+------+--------+------+----------+-------+---------+
|dept_id|emp_id|emp_name|salary|manager_id|emp_age|dept_name|
+-------+------+--------+------+----------+-------+---------+
|    300|     9|  Mukesh|  6000|         6|     51|       HR|
|    500|    10|  Rakesh|  7000|         6|     50|     NULL|
|    100|     1|   Ankit| 10000|         4|     39|Analytics|
|    100|     2|   Mohit| 15000|         5|     48|Analytics|
|    100|     3|   Vikas| 10000|         4|     37|Analytics|
|    100|     4|   Rohit|  5000|         2|     16|Analytics|
|    200|     5|   Mudit| 12000|         6|     55|       IT|
|    200|     6|    Agam| 12000|         2|     14|       IT|
|    200|     7|  Sanjay|  9000|         2|     13|       IT|
|    200|     8|  Ashish|  5000|         2|     12|       IT|
+-------+------+--------+------+----------+-------+---------+

In [30]:
#all employees whose department is not available
employee_df.join(dept_df,employee_df.dept_id==dept_df.dept_id,'left')\
            .filter(dept_df.dept_id.isNull())\
            .show()

+------+--------+-------+------+----------+-------+-------+---------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|dept_id|dept_name|
+------+--------+-------+------+----------+-------+-------+---------+
|    10|  Rakesh|    500|  7000|         6|     50|   NULL|     NULL|
+------+--------+-------+------+----------+-------+-------+---------+

In [31]:
employee_df.join(dept_df,'dept_id','left')\
            .filter(dept_df.dept_id.isNull())\
            .show()

+-------+------+--------+------+----------+-------+---------+
|dept_id|emp_id|emp_name|salary|manager_id|emp_age|dept_name|
+-------+------+--------+------+----------+-------+---------+
|    500|    10|  Rakesh|  7000|         6|     50|     NULL|
+-------+------+--------+------+----------+-------+---------+

# outer join()

In [32]:
employee_df.join(dept_df,employee_df.dept_id==dept_df.dept_id,'outer')\
            .show()

+------+--------+-------+------+----------+-------+-------+--------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|dept_id|     dept_name|
+------+--------+-------+------+----------+-------+-------+--------------+
|     9|  Mukesh|    300|  6000|         6|     51|    300|            HR|
|    10|  Rakesh|    500|  7000|         6|     50|   NULL|          NULL|
|     1|   Ankit|    100| 10000|         4|     39|    100|     Analytics|
|     2|   Mohit|    100| 15000|         5|     48|    100|     Analytics|
|     3|   Vikas|    100| 10000|         4|     37|    100|     Analytics|
|     4|   Rohit|    100|  5000|         2|     16|    100|     Analytics|
|  NULL|    NULL|   NULL|  NULL|      NULL|   NULL|    400|Text Analytics|
|     7|  Sanjay|    200|  9000|         2|     13|    200|            IT|
|     8|  Ashish|    200|  5000|         2|     12|    200|            IT|
|     5|   Mudit|    200| 12000|         6|     55|    200|            IT|
|     6|    Agam|    200| 12000|         2|     14|    200|            IT|
+------+--------+-------+------+----------+-------+-------+--------------+

# left semi join

rows which is only matching with right df

In [33]:
#Returns only columns from left which r matching with right

employee_df.join(dept_df,employee_df.dept_id==dept_df.dept_id,'leftsemi')\
            .show()
#here empid 10 is misssing

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     9|  Mukesh|    300|  6000|         6|     51|
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
+------+--------+-------+------+----------+-------+

# left anti join

rows which is not matching with right df

In [34]:
employee_df.join(dept_df,employee_df.dept_id==dept_df.dept_id,'leftanti')\
            .show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

# CROSS JOIN

In [38]:
employee_df.crossJoin(dept_df).sort(col('emp_id').asc()).show(50)
# 40 records

employee_df.crossJoin(dept_df).count()

+------+--------+-------+------+----------+-------+-------+--------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|dept_id|     dept_name|
+------+--------+-------+------+----------+-------+-------+--------------+
|     1|   Ankit|    100| 10000|         4|     39|    300|            HR|
|     1|   Ankit|    100| 10000|         4|     39|    200|            IT|
|     1|   Ankit|    100| 10000|         4|     39|    400|Text Analytics|
|     1|   Ankit|    100| 10000|         4|     39|    100|     Analytics|
|     2|   Mohit|    100| 15000|         5|     48|    200|            IT|
|     2|   Mohit|    100| 15000|         5|     48|    400|Text Analytics|
|     2|   Mohit|    100| 15000|         5|     48|    300|            HR|
|     2|   Mohit|    100| 15000|         5|     48|    100|     Analytics|
|     3|   Vikas|    100| 10000|         4|     37|    400|Text Analytics|
|     3|   Vikas|    100| 10000|         4|     37|    300|            HR|
|     3|   Vikas|    100| 10000|         4|     37|    100|     Analytics|
|     3|   Vikas|    100| 10000|         4|     37|    200|            IT|
|     4|   Rohit|    100|  5000|         2|     16|    400|Text Analytics|
|     4|   Rohit|    100|  5000|         2|     16|    300|            HR|
|     4|   Rohit|    100|  5000|         2|     16|    100|     Analytics|
|     4|   Rohit|    100|  5000|         2|     16|    200|            IT|
|     5|   Mudit|    200| 12000|         6|     55|    400|Text Analytics|
|     5|   Mudit|    200| 12000|         6|     55|    300|            HR|
|     5|   Mudit|    200| 12000|         6|     55|    200|            IT|
|     5|   Mudit|    200| 12000|         6|     55|    100|     Analytics|
|     6|    Agam|    200| 12000|         2|     14|    400|Text Analytics|
|     6|    Agam|    200| 12000|         2|     14|    300|            HR|
|     6|    Agam|    200| 12000|         2|     14|    200|            IT|
|     6|    Agam|    200| 12000|         2|     14|    100|     Analytics|
|     7|  Sanjay|    200|  9000|         2|     13|    400|Text Analytics|
|     7|  Sanjay|    200|  9000|         2|     13|    300|            HR|
|     7|  Sanjay|    200|  9000|         2|     13|    100|     Analytics|
|     7|  Sanjay|    200|  9000|         2|     13|    200|            IT|
|     8|  Ashish|    200|  5000|         2|     12|    400|Text Analytics|
|     8|  Ashish|    200|  5000|         2|     12|    300|            HR|
|     8|  Ashish|    200|  5000|         2|     12|    100|     Analytics|
|     8|  Ashish|    200|  5000|         2|     12|    200|            IT|
|     9|  Mukesh|    300|  6000|         6|     51|    400|Text Analytics|
|     9|  Mukesh|    300|  6000|         6|     51|    300|            HR|
|     9|  Mukesh|    300|  6000|         6|     51|    100|     Analytics|
|     9|  Mukesh|    300|  6000|         6|     51|    200|            IT|
|    10|  Rakesh|    500|  7000|         6|     50|    400|Text Analytics|
|    10|  Rakesh|    500|  7000|         6|     50|    300|            HR|
|    10|  Rakesh|    500|  7000|         6|     50|    100|     Analytics|
|    10|  Rakesh|    500|  7000|         6|     50|    200|            IT|
+------+--------+-------+------+----------+-------+-------+--------------+

40

# self join

In [40]:
employee_df.show()
employee_df.show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [45]:
# employee name with manager name
#alias required
#col('e1.manager_id')---e1.manager_id wont work

employee_df.alias('e1').join(employee_df.alias('e2'),'e1.manager_id'=='e2.emp_id','inner').show()

AssertionError: on should be Column or list of Column

In [46]:
employee_df.show()
employee_df.alias('e1').join(employee_df.alias('e2'),col('e1.manager_id')==col('e2.emp_id'),'inner').show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

+------+--------+-------+------+----------+-------+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+------+--------+-------+------+----------+-------+
|     5|   Mudit|    200| 12000|         6|     55|     6|    Agam|    200| 12000|         2|     14|
|     9|  Mukesh|    300|  6000|         6|     51|     6|    Agam|    200| 12000|         2|     14|
|    10|  Rakesh|    500|  7000|         6|     50|     6|    Agam|    200| 12000|         2|     14|
|     2|   Mohit|    100| 15000|         5|     48|     5|   Mudit|    200| 12000|         6|     55|
|     1|   Ankit|    100| 10000|         4|     39|     4|   Rohit|    100|  5000|         2|     16|
|     3|   Vikas|    100| 10000|         4|     37|     4|   Rohit|    100|  5000|         2|     16|
|     4|   Rohit|    100|  5000|         2|     16|     2|   Mohit|    100| 15000|         5|     48|
|     6|    Agam|    200| 12000|         2|     14|     2|   Mohit|    100| 15000|         5|     48|
|     7|  Sanjay|    200|  9000|         2|     13|     2|   Mohit|    100| 15000|         5|     48|
|     8|  Ashish|    200|  5000|         2|     12|     2|   Mohit|    100| 15000|         5|     48|
+------+--------+-------+------+----------+-------+------+--------+-------+------+----------+-------+

In [47]:
#employees which are older than their managers
employee_df.alias('e1').join(employee_df.alias('e2'),col('e1.manager_id')==col('e2.emp_id'),'inner')\
                        .filter(col('e1.emp_age')>col('e2.emp_age'))\
                        .show()

+------+--------+-------+------+----------+-------+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+------+--------+-------+------+----------+-------+
|     5|   Mudit|    200| 12000|         6|     55|     6|    Agam|    200| 12000|         2|     14|
|     9|  Mukesh|    300|  6000|         6|     51|     6|    Agam|    200| 12000|         2|     14|
|    10|  Rakesh|    500|  7000|         6|     50|     6|    Agam|    200| 12000|         2|     14|
|     1|   Ankit|    100| 10000|         4|     39|     4|   Rohit|    100|  5000|         2|     16|
|     3|   Vikas|    100| 10000|         4|     37|     4|   Rohit|    100|  5000|         2|     16|
+------+--------+-------+------+----------+-------+------+--------+-------+------+----------+-------+

26/01/30 17:20:02 WARN HeartbeatReceiver: Removing executor 0 with no recent heartbeats: 715725 ms exceeds timeout 120000 ms
26/01/30 17:20:03 ERROR TaskSchedulerImpl: Lost executor 0 on 172.18.0.5: Executor heartbeat timed out after 715725 ms

In [9]:
spark.stop()

#

# Window vs groupBy

groupBy                          window
------------------------------------------
Reduces rows                    Preserves rows
One row per group               Same rows
Simple aggregation              Analytical
Cheaper                         More expensive

# Window Functions

row_number().over()
rank().over()
dense_rank().over()
partitionBy()
lead(),lag()

In [ ]:
from pyspark.sql.window import Window

In [15]:
employee_df.show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [16]:
employee_df.createOrReplaceTempView('employee')

spark.sql(
    '''
    select * from employee
    '''
).show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [18]:
spark.sql(
    '''
    select  *,rank() over(order by salary desc) as rank from employee
    '''
).show()

26/01/31 08:47:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|rank|
+------+--------+-------+------+----------+-------+----+
|     2|   Mohit|    100| 15000|         5|     48|   1|
|     5|   Mudit|    200| 12000|         6|     55|   2|
|     6|    Agam|    200| 12000|         2|     14|   2|
|     3|   Vikas|    100| 10000|         4|     37|   4|
|     1|   Ankit|    100| 10000|         4|     39|   4|
|     7|  Sanjay|    200|  9000|         2|     13|   6|
|    10|  Rakesh|    500|  7000|         6|     50|   7|
|     9|  Mukesh|    300|  6000|         6|     51|   8|
|     4|   Rohit|    100|  5000|         2|     16|   9|
|     8|  Ashish|    200|  5000|         2|     12|   9|
+------+--------+-------+------+----------+-------+----+

In [22]:
# using DataFrame API
from pyspark.sql.window import Window

window_spec = Window.orderBy(col('salary').desc())
employee_df.withColumn('row_number',row_number().over(window_spec))\
            .withColumn('rank',rank().over(window_spec))\
            .withColumn('dense_rank',dense_rank().over(window_spec))\
            .show()

26/01/31 08:55:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/31 08:55:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------+----+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|row_number|rank|dense_rank|
+------+--------+-------+------+----------+-------+----------+----+----------+
|     2|   Mohit|    100| 15000|         5|     48|         1|   1|         1|
|     5|   Mudit|    200| 12000|         6|     55|         2|   2|         2|
|     6|    Agam|    200| 12000|         2|     14|         3|   2|         2|
|     1|   Ankit|    100| 10000|         4|     39|         4|   4|         3|
|     3|   Vikas|    100| 10000|         4|     37|         5|   4|         3|
|     7|  Sanjay|    200|  9000|         2|     13|         6|   6|         4|
|    10|  Rakesh|    500|  7000|         6|     50|         7|   7|         5|
|     9|  Mukesh|    300|  6000|         6|     51|         8|   8|         6|
|     4|   Rohit|    100|  5000|         2|     16|         9|   9|         7|
|     8|  Ashish|    200|  5000|         2|     12|        10|   9|         7|
+------+--------+-------+------+----------+-------+----------+----+----------+

In [27]:
# within each department give the rank of salary

spark.sql(
    '''
    select *,
    row_number() over(partition by dept_id order by salary desc) as row_number,
    rank() over(partition by dept_id order by salary desc) as rank,
    dense_rank() over(partition by dept_id order by salary desc) as dense_rank
    from employee
    order by dept_id asc
    '''
).show()

#dataframe api
window_spec=Window.partitionBy(col('dept_id')).orderBy(col('salary').desc())
employee_df.withColumn('row_number',row_number().over(window_spec))\
            .withColumn('rank',rank().over(window_spec))\
            .withColumn('dense_rank',dense_rank().over(window_spec))\
            .orderBy(col('dept_id').asc())\
            .show()

+------+--------+-------+------+----------+-------+----------+----+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|row_number|rank|dense_rank|
+------+--------+-------+------+----------+-------+----------+----+----------+
|     2|   Mohit|    100| 15000|         5|     48|         1|   1|         1|
|     1|   Ankit|    100| 10000|         4|     39|         2|   2|         2|
|     3|   Vikas|    100| 10000|         4|     37|         3|   2|         2|
|     4|   Rohit|    100|  5000|         2|     16|         4|   4|         3|
|     5|   Mudit|    200| 12000|         6|     55|         1|   1|         1|
|     6|    Agam|    200| 12000|         2|     14|         2|   1|         1|
|     7|  Sanjay|    200|  9000|         2|     13|         3|   3|         2|
|     8|  Ashish|    200|  5000|         2|     12|         4|   4|         3|
|     9|  Mukesh|    300|  6000|         6|     51|         1|   1|         1|
|    10|  Rakesh|    500|  7000|         6|     50|         1|   1|         1|
+------+--------+-------+------+----------+-------+----------+----+----------+

+------+--------+-------+------+----------+-------+----------+----+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|row_number|rank|dense_rank|
+------+--------+-------+------+----------+-------+----------+----+----------+
|     2|   Mohit|    100| 15000|         5|     48|         1|   1|         1|
|     1|   Ankit|    100| 10000|         4|     39|         2|   2|         2|
|     3|   Vikas|    100| 10000|         4|     37|         3|   2|         2|
|     4|   Rohit|    100|  5000|         2|     16|         4|   4|         3|
|     5|   Mudit|    200| 12000|         6|     55|         1|   1|         1|
|     6|    Agam|    200| 12000|         2|     14|         2|   1|         1|
|     7|  Sanjay|    200|  9000|         2|     13|         3|   3|         2|
|     8|  Ashish|    200|  5000|         2|     12|         4|   4|         3|
|     9|  Mukesh|    300|  6000|         6|     51|         1|   1|         1|
|    10|  Rakesh|    500|  7000|         6|     50|         1|   1|         1|
+------+--------+-------+------+----------+-------+----------+----+----------+

In [5]:
# total salary dept wise
from pyspark.sql.window import Window

employee_df.groupBy(col('dept_id')).agg(sum('salary')).orderBy(sum(col('salary')).desc()).show()

window_spec = Window.partitionBy('dept_id')
window_spec2=Window.orderBy(col('total_salary_dept').desc())

employee_df.withColumn('total_salary_dept',sum('salary').over(window_spec))\
            .withColumn('dense_rank',dense_rank().over(window_spec2))\
            .orderBy(col('dense_rank')).show()

+-------+-----------+
|dept_id|sum(salary)|
+-------+-----------+
|    100|      40000|
|    200|      38000|
|    500|       7000|
|    300|       6000|
+-------+-----------+

26/02/02 10:36:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
[Stage 7:================================================>      (178 + 5) / 200]

+------+--------+-------+------+----------+-------+-----------------+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary_dept|dense_rank|
+------+--------+-------+------+----------+-------+-----------------+----------+
|     1|   Ankit|    100| 10000|         4|     39|            40000|         1|
|     2|   Mohit|    100| 15000|         5|     48|            40000|         1|
|     3|   Vikas|    100| 10000|         4|     37|            40000|         1|
|     4|   Rohit|    100|  5000|         2|     16|            40000|         1|
|     5|   Mudit|    200| 12000|         6|     55|            38000|         2|
|     6|    Agam|    200| 12000|         2|     14|            38000|         2|
|     7|  Sanjay|    200|  9000|         2|     13|            38000|         2|
|     8|  Ashish|    200|  5000|         2|     12|            38000|         2|
|    10|  Rakesh|    500|  7000|         6|     50|             7000|         3|
|     9|  Mukesh|    300|  6000|         6|     51|             6000|         4|
+------+--------+-------+------+----------+-------+-----------------+----------+

# lead(),lag()

lag is opposite of lead()

In [34]:
window_spec= Window.orderBy(col('salary').desc())
employee_df.withColumn('next_salary',lead(col('salary'),1).over(window_spec))\
            .show()

26/01/31 09:13:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+-----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|next_salary|
+------+--------+-------+------+----------+-------+-----------+
|     2|   Mohit|    100| 15000|         5|     48|      12000|
|     5|   Mudit|    200| 12000|         6|     55|      12000|
|     6|    Agam|    200| 12000|         2|     14|      10000|
|     1|   Ankit|    100| 10000|         4|     39|      10000|
|     3|   Vikas|    100| 10000|         4|     37|       9000|
|     7|  Sanjay|    200|  9000|         2|     13|       7000|
|    10|  Rakesh|    500|  7000|         6|     50|       6000|
|     9|  Mukesh|    300|  6000|         6|     51|       5000|
|     4|   Rohit|    100|  5000|         2|     16|       5000|
|     8|  Ashish|    200|  5000|         2|     12|       NULL|
+------+--------+-------+------+----------+-------+-----------+

In [35]:
window_spec= Window.orderBy(col('salary').desc())
employee_df.withColumn('next_2nd_salary',lead(col('salary'),2).over(window_spec))\
            .show()

26/01/31 09:14:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+---------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|next_2nd_salary|
+------+--------+-------+------+----------+-------+---------------+
|     2|   Mohit|    100| 15000|         5|     48|          12000|
|     5|   Mudit|    200| 12000|         6|     55|          10000|
|     6|    Agam|    200| 12000|         2|     14|          10000|
|     3|   Vikas|    100| 10000|         4|     37|           9000|
|     1|   Ankit|    100| 10000|         4|     39|           7000|
|     7|  Sanjay|    200|  9000|         2|     13|           6000|
|    10|  Rakesh|    500|  7000|         6|     50|           5000|
|     9|  Mukesh|    300|  6000|         6|     51|           5000|
|     4|   Rohit|    100|  5000|         2|     16|           NULL|
|     8|  Ashish|    200|  5000|         2|     12|           NULL|
+------+--------+-------+------+----------+-------+---------------+

In [37]:
window_spec= Window.orderBy(col('emp_id').asc())
employee_df.withColumn('2nd_next_empname',lead(col('emp_name'),2).over(window_spec))\
            .show()

26/01/31 09:17:16 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|2nd_next_empname|
+------+--------+-------+------+----------+-------+----------------+
|     1|   Ankit|    100| 10000|         4|     39|           Vikas|
|     2|   Mohit|    100| 15000|         5|     48|           Rohit|
|     3|   Vikas|    100| 10000|         4|     37|           Mudit|
|     4|   Rohit|    100|  5000|         2|     16|            Agam|
|     5|   Mudit|    200| 12000|         6|     55|          Sanjay|
|     6|    Agam|    200| 12000|         2|     14|          Ashish|
|     7|  Sanjay|    200|  9000|         2|     13|          Mukesh|
|     8|  Ashish|    200|  5000|         2|     12|          Rakesh|
|     9|  Mukesh|    300|  6000|         6|     51|            NULL|
|    10|  Rakesh|    500|  7000|         6|     50|            NULL|
+------+--------+-------+------+----------+-------+----------------+

In [44]:
window_spec= Window.partitionBy('dept_id').orderBy(col('emp_id').desc())
employee_df.withColumn('next_emp',lead(col('emp_name'),1).over(window_spec))\
            .withColumn('prev_emp',lag(col('emp_name'),1).over(window_spec))\
            .orderBy(col('dept_id').asc())\
            .show()

+------+--------+-------+------+----------+-------+--------+--------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|next_emp|prev_emp|
+------+--------+-------+------+----------+-------+--------+--------+
|     4|   Rohit|    100|  5000|         2|     16|   Vikas|    NULL|
|     3|   Vikas|    100| 10000|         4|     37|   Mohit|   Rohit|
|     2|   Mohit|    100| 15000|         5|     48|   Ankit|   Vikas|
|     1|   Ankit|    100| 10000|         4|     39|    NULL|   Mohit|
|     8|  Ashish|    200|  5000|         2|     12|  Sanjay|    NULL|
|     7|  Sanjay|    200|  9000|         2|     13|    Agam|  Ashish|
|     6|    Agam|    200| 12000|         2|     14|   Mudit|  Sanjay|
|     5|   Mudit|    200| 12000|         6|     55|    NULL|    Agam|
|     9|  Mukesh|    300|  6000|         6|     51|    NULL|    NULL|
|    10|  Rakesh|    500|  7000|         6|     50|    NULL|    NULL|
+------+--------+-------+------+----------+-------+--------+--------+

# i want to know the percentage of salary each employee getting if total salary is 100%

In [63]:
#typical way 
total_sal= employee_df.agg(sum('salary').alias('total_salary')).collect()[0][0]
print(total_sal)

employee_df.withColumn('total_salary',lit(total_sal))\
            .withColumn('salary%',(col('salary')/total_sal)*100)\
            .show()

91000
+------+--------+-------+------+----------+-------+------------+------------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary|           salary%|
+------+--------+-------+------+----------+-------+------------+------------------+
|     1|   Ankit|    100| 10000|         4|     39|       91000|10.989010989010989|
|     2|   Mohit|    100| 15000|         5|     48|       91000|16.483516483516482|
|     3|   Vikas|    100| 10000|         4|     37|       91000|10.989010989010989|
|     4|   Rohit|    100|  5000|         2|     16|       91000|5.4945054945054945|
|     5|   Mudit|    200| 12000|         6|     55|       91000|13.186813186813188|
|     6|    Agam|    200| 12000|         2|     14|       91000|13.186813186813188|
|     7|  Sanjay|    200|  9000|         2|     13|       91000|  9.89010989010989|
|     8|  Ashish|    200|  5000|         2|     12|       91000|5.4945054945054945|
|     9|  Mukesh|    300|  6000|         6|     51|       91000| 6.593406593406594|
|    10|  Rakesh|    500|  7000|         6|     50|       91000|7.6923076923076925|
+------+--------+-------+------+----------+-------+------------+------------------+

In [62]:
#method -2 empty Window.paritionBy() or window.orderBy()
# sql--select * ,sum(salary) over() as total_salary from table

window_spec= Window.partitionBy() # or Window.orderBy()
employee_df.withColumn('total_salary',sum('salary').over(window_spec))\
            .withColumn('salary%',(col('salary')/col('total_salary'))*100)\
            .show()

26/01/31 09:56:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+------------+------------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary|           salary%|
+------+--------+-------+------+----------+-------+------------+------------------+
|     3|   Vikas|    100| 10000|         4|     37|       91000|10.989010989010989|
|     4|   Rohit|    100|  5000|         2|     16|       91000|5.4945054945054945|
|     7|  Sanjay|    200|  9000|         2|     13|       91000|  9.89010989010989|
|     8|  Ashish|    200|  5000|         2|     12|       91000|5.4945054945054945|
|     9|  Mukesh|    300|  6000|         6|     51|       91000| 6.593406593406594|
|    10|  Rakesh|    500|  7000|         6|     50|       91000|7.6923076923076925|
|     1|   Ankit|    100| 10000|         4|     39|       91000|10.989010989010989|
|     2|   Mohit|    100| 15000|         5|     48|       91000|16.483516483516482|
|     5|   Mudit|    200| 12000|         6|     55|       91000|13.186813186813188|
|     6|    Agam|    200| 12000|         2|     14|       91000|13.186813186813188|
+------+--------+-------+------+----------+-------+------------+------------------+

In [66]:
spark.sql(
    '''
    select * ,sum(salary) over() as total_salary
    from employee
    '''
).show()

+------+--------+-------+------+----------+-------+------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary|
+------+--------+-------+------+----------+-------+------------+
|     3|   Vikas|    100| 10000|         4|     37|       91000|
|     4|   Rohit|    100|  5000|         2|     16|       91000|
|     7|  Sanjay|    200|  9000|         2|     13|       91000|
|     8|  Ashish|    200|  5000|         2|     12|       91000|
|     9|  Mukesh|    300|  6000|         6|     51|       91000|
|    10|  Rakesh|    500|  7000|         6|     50|       91000|
|     1|   Ankit|    100| 10000|         4|     39|       91000|
|     2|   Mohit|    100| 15000|         5|     48|       91000|
|     5|   Mudit|    200| 12000|         6|     55|       91000|
|     6|    Agam|    200| 12000|         2|     14|       91000|
+------+--------+-------+------+----------+-------+------------+

26/01/31 10:00:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

# i want to know the department wise percentage of salary each employee  getting if total salary of each department is 100%

In [75]:
#try with typical method
df = employee_df.groupBy(col('dept_id')).agg(sum(col('salary')).alias('total_salary_dept_wise'))
df.show()

employee_df.join(df,'dept_id','inner')\
            .withColumn('salary%',(col('salary')/col('total_salary_dept_wise')*100))\
            .show()

+-------+----------------------+
|dept_id|total_salary_dept_wise|
+-------+----------------------+
|    300|                  6000|
|    500|                  7000|
|    100|                 40000|
|    200|                 38000|
+-------+----------------------+

+-------+------+--------+------+----------+-------+----------------------+------------------+
|dept_id|emp_id|emp_name|salary|manager_id|emp_age|total_salary_dept_wise|           salary%|
+-------+------+--------+------+----------+-------+----------------------+------------------+
|    300|     9|  Mukesh|  6000|         6|     51|                  6000|             100.0|
|    500|    10|  Rakesh|  7000|         6|     50|                  7000|             100.0|
|    100|     1|   Ankit| 10000|         4|     39|                 40000|              25.0|
|    100|     2|   Mohit| 15000|         5|     48|                 40000|              37.5|
|    100|     3|   Vikas| 10000|         4|     37|                 40000|              25.0|
|    100|     4|   Rohit|  5000|         2|     16|                 40000|              12.5|
|    200|     7|  Sanjay|  9000|         2|     13|                 38000|23.684210526315788|
|    200|     8|  Ashish|  5000|         2|     12|                 38000|13.157894736842104|
|    200|     5|   Mudit| 12000|         6|     55|                 38000| 31.57894736842105|
|    200|     6|    Agam| 12000|         2|     14|                 38000| 31.57894736842105|
+-------+------+--------+------+----------+-------+----------------------+------------------+

In [83]:
# window function
#sql
spark.sql(
    '''
    with emp1 as
    (
    select emp_id,dept_id,
    sum(salary) over(partition by dept_id) as total_salary_dept_wise
    from employee
    )
    select emp2.*,
    emp1.total_salary_dept_wise,
    (salary/emp1.total_salary_dept_wise)*100 as salary_pct_dept_wise
    from employee emp2
    join
    emp1
    on 
    emp1.emp_id=emp2.emp_id and emp1.dept_id=emp2.dept_id
    order by emp2.dept_id asc
    
    '''
    
).show()

#easy in dataframe using windows fun
window_spec = Window.partitionBy(col('dept_id'))

employee_df.withColumn('total_salary_dept_wise',sum(col('salary')).over(window_spec))\
            .withColumn('salary_pct_dept_wise',(col('salary')/col('total_salary_dept_wise'))*100)\
            .orderBy(col('dept_id').asc())\
            .show()

+------+--------+-------+------+----------+-------+----------------------+--------------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary_dept_wise|salary_pct_dept_wise|
+------+--------+-------+------+----------+-------+----------------------+--------------------+
|     1|   Ankit|    100| 10000|         4|     39|                 40000|                25.0|
|     3|   Vikas|    100| 10000|         4|     37|                 40000|                25.0|
|     4|   Rohit|    100|  5000|         2|     16|                 40000|                12.5|
|     2|   Mohit|    100| 15000|         5|     48|                 40000|                37.5|
|     6|    Agam|    200| 12000|         2|     14|                 38000|   31.57894736842105|
|     5|   Mudit|    200| 12000|         6|     55|                 38000|   31.57894736842105|
|     8|  Ashish|    200|  5000|         2|     12|                 38000|  13.157894736842104|
|     7|  Sanjay|    200|  9000|         2|     13|                 38000|  23.684210526315788|
|     9|  Mukesh|    300|  6000|         6|     51|                  6000|               100.0|
|    10|  Rakesh|    500|  7000|         6|     50|                  7000|               100.0|
+------+--------+-------+------+----------+-------+----------------------+--------------------+

+------+--------+-------+------+----------+-------+----------------------+--------------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary_dept_wise|salary_pct_dept_wise|
+------+--------+-------+------+----------+-------+----------------------+--------------------+
|     1|   Ankit|    100| 10000|         4|     39|                 40000|                25.0|
|     2|   Mohit|    100| 15000|         5|     48|                 40000|                37.5|
|     3|   Vikas|    100| 10000|         4|     37|                 40000|                25.0|
|     4|   Rohit|    100|  5000|         2|     16|                 40000|                12.5|
|     5|   Mudit|    200| 12000|         6|     55|                 38000|   31.57894736842105|
|     6|    Agam|    200| 12000|         2|     14|                 38000|   31.57894736842105|
|     7|  Sanjay|    200|  9000|         2|     13|                 38000|  23.684210526315788|
|     8|  Ashish|    200|  5000|         2|     12|                 38000|  13.157894736842104|
|     9|  Mukesh|    300|  6000|         6|     51|                  6000|               100.0|
|    10|  Rakesh|    500|  7000|         6|     50|                  7000|               100.0|
+------+--------+-------+------+----------+-------+----------------------+--------------------+

26/01/31 10:51:41 ERROR TaskSchedulerImpl: Lost executor 13 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 10:51:41 ERROR TaskSchedulerImpl: Lost executor 12 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 11:18:23 ERROR TaskSchedulerImpl: Lost executor 14 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 11:18:23 ERROR TaskSchedulerImpl: Lost executor 15 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds

# Running salary

In [69]:
#1-without any partitions here
#sql
spark.sql(
        '''
        select *,sum(salary) over(order by emp_id asc) as total_salary
        from employee
        '''   
).show()

#dataframe
window_spec = Window.orderBy(col('emp_id').asc())
employee_df.withColumn('total_salary',sum(col('salary')).over(window_spec))\
            .show()

26/01/31 10:06:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary|
+------+--------+-------+------+----------+-------+------------+
|     1|   Ankit|    100| 10000|         4|     39|       10000|
|     2|   Mohit|    100| 15000|         5|     48|       25000|
|     3|   Vikas|    100| 10000|         4|     37|       35000|
|     4|   Rohit|    100|  5000|         2|     16|       40000|
|     5|   Mudit|    200| 12000|         6|     55|       52000|
|     6|    Agam|    200| 12000|         2|     14|       64000|
|     7|  Sanjay|    200|  9000|         2|     13|       73000|
|     8|  Ashish|    200|  5000|         2|     12|       78000|
|     9|  Mukesh|    300|  6000|         6|     51|       84000|
|    10|  Rakesh|    500|  7000|         6|     50|       91000|
+------+--------+-------+------+----------+-------+------------+

+------+--------+-------+------+----------+-------+------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|total_salary|
+------+--------+-------+------+----------+-------+------------+
|     1|   Ankit|    100| 10000|         4|     39|       10000|
|     2|   Mohit|    100| 15000|         5|     48|       25000|
|     3|   Vikas|    100| 10000|         4|     37|       35000|
|     4|   Rohit|    100|  5000|         2|     16|       40000|
|     5|   Mudit|    200| 12000|         6|     55|       52000|
|     6|    Agam|    200| 12000|         2|     14|       64000|
|     7|  Sanjay|    200|  9000|         2|     13|       73000|
|     8|  Ashish|    200|  5000|         2|     12|       78000|
|     9|  Mukesh|    300|  6000|         6|     51|       84000|
|    10|  Rakesh|    500|  7000|         6|     50|       91000|
+------+--------+-------+------+----------+-------+------------+

26/01/31 10:06:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

# Running salary partition by dept_id

In [84]:
# sql
spark.sql(
        '''
        select *,sum(salary) over(partition by dept_id order by emp_id asc) as running_salary
        from employee
        order by dept_id asc
        '''
).show()

#dataframe
window_spec =Window.partitionBy(col('dept_id')).orderBy(col('emp_id').asc())
employee_df.withColumn('running_salary',sum(col('salary')).over(window_spec))\
            .orderBy(col('dept_id').asc())\
            .show()

+------+--------+-------+------+----------+-------+--------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|running_salary|
+------+--------+-------+------+----------+-------+--------------+
|     1|   Ankit|    100| 10000|         4|     39|         10000|
|     2|   Mohit|    100| 15000|         5|     48|         25000|
|     3|   Vikas|    100| 10000|         4|     37|         35000|
|     4|   Rohit|    100|  5000|         2|     16|         40000|
|     5|   Mudit|    200| 12000|         6|     55|         12000|
|     6|    Agam|    200| 12000|         2|     14|         24000|
|     7|  Sanjay|    200|  9000|         2|     13|         33000|
|     8|  Ashish|    200|  5000|         2|     12|         38000|
|     9|  Mukesh|    300|  6000|         6|     51|          6000|
|    10|  Rakesh|    500|  7000|         6|     50|          7000|
+------+--------+-------+------+----------+-------+--------------+

[Stage 304:=========================================>           (158 + 4) / 200]

+------+--------+-------+------+----------+-------+--------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|running_salary|
+------+--------+-------+------+----------+-------+--------------+
|     1|   Ankit|    100| 10000|         4|     39|         10000|
|     2|   Mohit|    100| 15000|         5|     48|         25000|
|     3|   Vikas|    100| 10000|         4|     37|         35000|
|     4|   Rohit|    100|  5000|         2|     16|         40000|
|     5|   Mudit|    200| 12000|         6|     55|         12000|
|     6|    Agam|    200| 12000|         2|     14|         24000|
|     7|  Sanjay|    200|  9000|         2|     13|         33000|
|     8|  Ashish|    200|  5000|         2|     12|         38000|
|     9|  Mukesh|    300|  6000|         6|     51|          6000|
|    10|  Rakesh|    500|  7000|         6|     50|          7000|
+------+--------+-------+------+----------+-------+--------------+

26/01/31 11:48:53 ERROR TaskSchedulerImpl: Lost executor 17 on 172.18.0.6: worker lost: Not receiving heartbeat for 60 seconds
26/01/31 11:48:53 ERROR TaskSchedulerImpl: Lost executor 16 on 172.18.0.4: worker lost: Not receiving heartbeat for 60 seconds

# rowsBetween()

Window.unboundedPreceding,
Window.currentRow,
-1,-2,0=currentRow

In [85]:
employee_df.show()

[Stage 306:===================>                                     (1 + 2) / 3]

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [87]:
window_spec = Window.orderBy(col('emp_age').desc()).rowsBetween(-2,Window.currentRow)

employee_df.withColumn('sum_age_of_3_emp',sum(col('emp_age')).over(window_spec)).show() 
#-2 means previous 2 ages

26/01/31 12:51:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|sum_age_of_3_emp|
+------+--------+-------+------+----------+-------+----------------+
|     5|   Mudit|    200| 12000|         6|     55|              55|
|     9|  Mukesh|    300|  6000|         6|     51|             106|
|    10|  Rakesh|    500|  7000|         6|     50|             156|
|     2|   Mohit|    100| 15000|         5|     48|             149|
|     1|   Ankit|    100| 10000|         4|     39|             137|
|     3|   Vikas|    100| 10000|         4|     37|             124|
|     4|   Rohit|    100|  5000|         2|     16|              92|
|     6|    Agam|    200| 12000|         2|     14|              67|
|     7|  Sanjay|    200|  9000|         2|     13|              43|
|     8|  Ashish|    200|  5000|         2|     12|              39|
+------+--------+-------+------+----------+-------+----------------+

In [90]:
window_spec = Window.orderBy(col('emp_age').desc()).rowsBetween(Window.unboundedPreceding,Window.currentRow)

employee_df.withColumn('sum_age_of_3_emp',sum(col('emp_age')).over(window_spec)).show()

26/01/31 12:55:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|sum_age_of_3_emp|
+------+--------+-------+------+----------+-------+----------------+
|     5|   Mudit|    200| 12000|         6|     55|              55|
|     9|  Mukesh|    300|  6000|         6|     51|             106|
|    10|  Rakesh|    500|  7000|         6|     50|             156|
|     2|   Mohit|    100| 15000|         5|     48|             204|
|     1|   Ankit|    100| 10000|         4|     39|             243|
|     3|   Vikas|    100| 10000|         4|     37|             280|
|     4|   Rohit|    100|  5000|         2|     16|             296|
|     6|    Agam|    200| 12000|         2|     14|             310|
|     7|  Sanjay|    200|  9000|         2|     13|             323|
|     8|  Ashish|    200|  5000|         2|     12|             335|
+------+--------+-------+------+----------+-------+----------------+

In [91]:
#or
window_spec = Window.orderBy(col('emp_age').desc()).rowsBetween(Window.unboundedPreceding,0)

employee_df.withColumn('sum_age_of_3_emp',sum(col('emp_age')).over(window_spec)).show()

26/01/31 12:56:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|sum_age_of_3_emp|
+------+--------+-------+------+----------+-------+----------------+
|     5|   Mudit|    200| 12000|         6|     55|              55|
|     9|  Mukesh|    300|  6000|         6|     51|             106|
|    10|  Rakesh|    500|  7000|         6|     50|             156|
|     2|   Mohit|    100| 15000|         5|     48|             204|
|     1|   Ankit|    100| 10000|         4|     39|             243|
|     3|   Vikas|    100| 10000|         4|     37|             280|
|     4|   Rohit|    100|  5000|         2|     16|             296|
|     6|    Agam|    200| 12000|         2|     14|             310|
|     7|  Sanjay|    200|  9000|         2|     13|             323|
|     8|  Ashish|    200|  5000|         2|     12|             335|
+------+--------+-------+------+----------+-------+----------------+

In [92]:
# sum till previous row
window_spec = Window.orderBy(col('emp_age').desc()).rowsBetween(Window.unboundedPreceding,-1)

employee_df.withColumn('sum_age_of_3_emp',sum(col('emp_age')).over(window_spec)).show()

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|sum_age_of_3_emp|
+------+--------+-------+------+----------+-------+----------------+
|     5|   Mudit|    200| 12000|         6|     55|            NULL|
|     9|  Mukesh|    300|  6000|         6|     51|              55|
|    10|  Rakesh|    500|  7000|         6|     50|             106|
|     2|   Mohit|    100| 15000|         5|     48|             156|
|     1|   Ankit|    100| 10000|         4|     39|             204|
|     3|   Vikas|    100| 10000|         4|     37|             243|
|     4|   Rohit|    100|  5000|         2|     16|             280|
|     6|    Agam|    200| 12000|         2|     14|             296|
|     7|  Sanjay|    200|  9000|         2|     13|             310|
|     8|  Ashish|    200|  5000|         2|     12|             323|
+------+--------+-------+------+----------+-------+----------------+

26/01/31 12:57:05 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [93]:
# total age
window_spec = Window.orderBy(col('emp_age').desc()).rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

employee_df.withColumn('sum_age_of_3_emp',sum(col('emp_age')).over(window_spec)).show()

26/01/31 12:58:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|sum_age_of_3_emp|
+------+--------+-------+------+----------+-------+----------------+
|     5|   Mudit|    200| 12000|         6|     55|             335|
|     9|  Mukesh|    300|  6000|         6|     51|             335|
|    10|  Rakesh|    500|  7000|         6|     50|             335|
|     2|   Mohit|    100| 15000|         5|     48|             335|
|     1|   Ankit|    100| 10000|         4|     39|             335|
|     3|   Vikas|    100| 10000|         4|     37|             335|
|     4|   Rohit|    100|  5000|         2|     16|             335|
|     6|    Agam|    200| 12000|         2|     14|             335|
|     7|  Sanjay|    200|  9000|         2|     13|             335|
|     8|  Ashish|    200|  5000|         2|     12|             335|
+------+--------+-------+------+----------+-------+----------------+

In [94]:
#unboundedFollowing---current to below

window_spec = Window.orderBy(col('emp_age').desc()).rowsBetween(0,Window.unboundedFollowing)

employee_df.withColumn('sum_age_of_3_emp',sum(col('emp_age')).over(window_spec)).show()

26/01/31 12:59:44 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+--------+-------+------+----------+-------+----------------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|sum_age_of_3_emp|
+------+--------+-------+------+----------+-------+----------------+
|     5|   Mudit|    200| 12000|         6|     55|             335|
|     9|  Mukesh|    300|  6000|         6|     51|             280|
|    10|  Rakesh|    500|  7000|         6|     50|             229|
|     2|   Mohit|    100| 15000|         5|     48|             179|
|     1|   Ankit|    100| 10000|         4|     39|             131|
|     3|   Vikas|    100| 10000|         4|     37|              92|
|     4|   Rohit|    100|  5000|         2|     16|              55|
|     6|    Agam|    200| 12000|         2|     14|              39|
|     7|  Sanjay|    200|  9000|         2|     13|              25|
|     8|  Ashish|    200|  5000|         2|     12|              12|
+------+--------+-------+------+----------+-------+----------------+

# Duplicate

In [98]:
employee_schema = StructType([
                            StructField("emp_id", IntegerType(), True),
                            StructField("emp_name", StringType(), True),
                            StructField("dept_id", IntegerType(), True),
                            StructField("salary", IntegerType(), True),
                            StructField("manager_id", IntegerType(), True),
                            StructField("emp_age", IntegerType(), True)
                            ])

employee_data = [
(1, "Ankit", 100, 10000, 4, 39),
    (1, "Ankit", 100, 10000, 4, 39),(9, "Mukesh", 300, 6000, 6, 51),
(2, "Mohit", 100, 15000, 5, 48),(9, "Mukesh", 300, 6000, 6, 51),
(3, "Vikas", 100, 10000, 4, 37),
(4, "Rohit", 100, 5000, 2, 16),(5, "Mudit", 200, 12000, 6, 55),
(5, "Mudit", 200, 12000, 6, 55),(5, "Mudit", 200, 12000, 6, 55),
(6, "Agam", 200, 12000, 2, 14),
(7, "Sanjay", 200, 9000, 2, 13),
(8, "Ashish", 200, 5000, 2, 12),
(9, "Mukesh", 300, 6000, 6, 51),
(10, "Rakesh", 500, 7000, 6, 50)
]
duplicate_df = spark.createDataFrame(employee_data, employee_schema)

duplicate_df.show()

duplicate_df.createOrReplaceTempView('duplicate_table')

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     1|   Ankit|    100| 10000|         4|     39|
|     9|  Mukesh|    300|  6000|         6|     51|
|     2|   Mohit|    100| 15000|         5|     48|
|     9|  Mukesh|    300|  6000|         6|     51|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     5|   Mudit|    200| 12000|         6|     55|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [118]:
#search duplicate

#sql
spark.sql(
    '''
    select * from(select *,count(emp_id) over(partition by emp_id ) as count
    from duplicate_table) d
    where d.count>1
    
    '''
).show()

spark.sql(
    '''
    select * from(
            select *,row_number() over(partition by emp_id order by emp_id) as row_number
                from duplicate_table) d
                    where d.row_number>1
    
    '''
).show()

+------+--------+-------+------+----------+-------+-----+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|count|
+------+--------+-------+------+----------+-------+-----+
|     1|   Ankit|    100| 10000|         4|     39|    2|
|     1|   Ankit|    100| 10000|         4|     39|    2|
|     5|   Mudit|    200| 12000|         6|     55|    3|
|     5|   Mudit|    200| 12000|         6|     55|    3|
|     5|   Mudit|    200| 12000|         6|     55|    3|
|     9|  Mukesh|    300|  6000|         6|     51|    3|
|     9|  Mukesh|    300|  6000|         6|     51|    3|
|     9|  Mukesh|    300|  6000|         6|     51|    3|
+------+--------+-------+------+----------+-------+-----+

+------+--------+-------+------+----------+-------+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|row_number|
+------+--------+-------+------+----------+-------+----------+
|     1|   Ankit|    100| 10000|         4|     39|         2|
|     5|   Mudit|    200| 12000|         6|     55|         2|
|     5|   Mudit|    200| 12000|         6|     55|         3|
|     9|  Mukesh|    300|  6000|         6|     51|         2|
|     9|  Mukesh|    300|  6000|         6|     51|         3|
+------+--------+-------+------+----------+-------+----------+

 # spark sql doesnot support delete

In [120]:
#delete duplicate
# spark sql doesnt support delete from
spark.sql(
    '''
    delete  from duplicate_table 
            where emp_id not in 
                    (select d.emp_id fom (select *,row_number() over(partition by emp_id order by emp_id) as row_number
                            from duplicate_table) d
                                    where d.row_number>1)
    '''
)

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '('.(line 4, pos 41)

== SQL ==

    delete  from duplicate_table
            where emp_id not in
                    (select d.emp_id fom (select *,row_number() over(partition by emp_id order by emp_id) as row_number
-----------------------------------------^^^
                            from duplicate_table) d
                                    where d.row_number>1)

# search duplicate

In [129]:
window_spec = Window.partitionBy(col('emp_id')).orderBy(col('emp_id'))

duplicate_df.withColumn('rn',row_number().over(window_spec))\
            .filter(col('rn')>1)\
            .show()

+------+--------+-------+------+----------+-------+---+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age| rn|
+------+--------+-------+------+----------+-------+---+
|     1|   Ankit|    100| 10000|         4|     39|  2|
|     5|   Mudit|    200| 12000|         6|     55|  2|
|     5|   Mudit|    200| 12000|         6|     55|  3|
|     9|  Mukesh|    300|  6000|         6|     51|  2|
|     9|  Mukesh|    300|  6000|         6|     51|  3|
+------+--------+-------+------+----------+-------+---+

# delete duplicate

In [127]:
window_spec = Window.partitionBy(col('emp_id')).orderBy(col('emp_id'))

duplicate_df.withColumn('rn',row_number().over(window_spec)).show()

duplicate_df.withColumn('rn',row_number().over(window_spec))\
            .filter(col('rn')==1)\
                .drop('rn')\
                .orderBy(col('emp_id').asc())\
                .show()

+------+--------+-------+------+----------+-------+---+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age| rn|
+------+--------+-------+------+----------+-------+---+
|     1|   Ankit|    100| 10000|         4|     39|  1|
|     1|   Ankit|    100| 10000|         4|     39|  2|
|     6|    Agam|    200| 12000|         2|     14|  1|
|     3|   Vikas|    100| 10000|         4|     37|  1|
|     5|   Mudit|    200| 12000|         6|     55|  1|
|     5|   Mudit|    200| 12000|         6|     55|  2|
|     5|   Mudit|    200| 12000|         6|     55|  3|
|     9|  Mukesh|    300|  6000|         6|     51|  1|
|     9|  Mukesh|    300|  6000|         6|     51|  2|
|     9|  Mukesh|    300|  6000|         6|     51|  3|
|     4|   Rohit|    100|  5000|         2|     16|  1|
|     8|  Ashish|    200|  5000|         2|     12|  1|
|     7|  Sanjay|    200|  9000|         2|     13|  1|
|    10|  Rakesh|    500|  7000|         6|     50|  1|
|     2|   Mohit|    100| 15000|         5|     48|  1|
+------+--------+-------+------+----------+-------+---+

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

# UDF

UDF (User Defined Function) allows you to define your own custom function
and use it in Spark just like a built in function.  
1-create a python function
2-convert it into spark UDF

In [134]:
def order_priority(order_status, state, price, quantity):
    order_value = price * quantity
    
    if order_status == "CANCELLED":
        return "IGNORE"
        
    if state in ("Delhi", "Haryana", "Punjab"):
        if order_value >= 5000:
            return "P1"
        else:
            return "P2"

    else:
        if order_value >= 10000:
            return "P1"
        else:
            return "P3"

In [135]:
from pyspark.sql.functions import * #udf
from pyspark.sql.types import * #StringType

order_priority_udf = udf(order_priority, StringType()) # input 1--function,2-return type

In [136]:
#How to use UDF in DataFrame API

df_orders.withColumn("order_priority",order_priority_udf(\
                                                            col("order_status"),
                                                            col("state"),
                                                            col("price"),
                                                            col("quantity")
                                                        )\
                    ).show()

+--------+-----------+----------+------+----------+------------+----------------+--------+--------------+
|order_id|customer_id|product_id| price|order_date|order_status|           state|quantity|order_priority|
+--------+-----------+----------+------+----------+------------+----------------+--------+--------------+
|       1|     192520|        70|152.33|2007-10-10|      PLACED|          Odisha|       2|            P3|
|       2|     835421|        34|117.42|2008-12-02|     SHIPPED|          Kerala|       3|            P3|
|       3|     159165|        13|128.85|2010-04-22|   DELIVERED|         Gujarat|       3|            P3|
|       4|     403890|        25|195.71|2007-05-30|   CANCELLED|           Bihar|       1|        IGNORE|
|       5|     273746|        41|125.08|2003-12-13|     SHIPPED|          Odisha|       3|            P3|
|       6|     944219|        41|188.95|2002-05-15|   DELIVERED|       Rajasthan|       2|            P3|
|       7|     445844|        28|117.61|2009-08-04|     SHIPPED|           Assam|       3|            P3|
|       8|     978829|         3|174.42|2005-12-21|      PLACED|           Assam|       3|            P3|
|       9|     929531|        78|185.21|2002-11-25|    RETURNED|     West Bengal|       2|            P3|
|      10|     500689|        89|192.37|2007-09-14|   DELIVERED|     Uttarakhand|       3|            P3|
|      11|     790506|        44|182.15|2014-01-16|      PLACED|Himachal Pradesh|       2|            P3|
|      12|     740250|        39|133.37|2014-09-24|   DELIVERED|       Telangana|       2|            P3|
|      13|     138094|        59| 191.5|2000-03-30|    RETURNED|           Delhi|       3|            P2|
|      14|     680914|        19|153.61|2017-05-26|     SHIPPED|         Haryana|       2|            P2|
|      15|     872616|         8|179.21|2009-04-17|      PLACED|          Punjab|       1|            P2|
|      16|      28025|        80|172.46|2013-05-22|    RETURNED|          Odisha|       1|            P3|
|      17|     882018|         3|161.33|2009-02-19|    RETURNED|         Gujarat|       2|            P3|
|      18|     120735|        34|146.92|2016-08-21|      PLACED|     West Bengal|       1|            P3|
|      19|     968956|         9|112.14|2008-03-14|   DELIVERED|     Uttarakhand|       1|            P3|
|      20|      59229|        14| 154.1|2018-04-23|      PLACED|Himachal Pradesh|       2|            P3|
+--------+-----------+----------+------+----------+------------+----------------+--------+--------------+
only showing top 20 rows

# How to register UDF for Spark SQL

In [139]:
#Step 1: Register the UDF
spark.udf.register("order_priority_sql_udf", order_priority, StringType())

26/01/31 14:23:22 WARN SimpleFunctionRegistry: The function order_priority_sql_udf replaced a previously registered function.

In [141]:
#Step 2: Use it in Spark SQL

df_orders.createOrReplaceTempView("orders")

spark.sql("""
            SELECT
                order_id,
                    state,
                    price,
                    quantity,
                    order_status,
                    order_priority_sql_udf(order_status, state, price, quantity) AS order_priority
                    FROM orders
            """
         ).show()

+--------+----------------+------+--------+------------+--------------+
|order_id|           state| price|quantity|order_status|order_priority|
+--------+----------------+------+--------+------------+--------------+
|       1|          Odisha|152.33|       2|      PLACED|            P3|
|       2|          Kerala|117.42|       3|     SHIPPED|            P3|
|       3|         Gujarat|128.85|       3|   DELIVERED|            P3|
|       4|           Bihar|195.71|       1|   CANCELLED|        IGNORE|
|       5|          Odisha|125.08|       3|     SHIPPED|            P3|
|       6|       Rajasthan|188.95|       2|   DELIVERED|            P3|
|       7|           Assam|117.61|       3|     SHIPPED|            P3|
|       8|           Assam|174.42|       3|      PLACED|            P3|
|       9|     West Bengal|185.21|       2|    RETURNED|            P3|
|      10|     Uttarakhand|192.37|       3|   DELIVERED|            P3|
|      11|Himachal Pradesh|182.15|       2|      PLACED|            P3|
|      12|       Telangana|133.37|       2|   DELIVERED|            P3|
|      13|           Delhi| 191.5|       3|    RETURNED|            P2|
|      14|         Haryana|153.61|       2|     SHIPPED|            P2|
|      15|          Punjab|179.21|       1|      PLACED|            P2|
|      16|          Odisha|172.46|       1|    RETURNED|            P3|
|      17|         Gujarat|161.33|       2|    RETURNED|            P3|
|      18|     West Bengal|146.92|       1|      PLACED|            P3|
|      19|     Uttarakhand|112.14|       1|   DELIVERED|            P3|
|      20|Himachal Pradesh| 154.1|       2|      PLACED|            P3|
+--------+----------------+------+--------+------------+--------------+
only showing top 20 rows

1. Using the orders and products datasets, find the**top 2 most profitable products in each state**, where profit is defined as`(price  cost_price) * quantity`. Consider only delivered orders. Return state, product_id, total profit, and rank within the state.

In [152]:

df= df_orders.filter(col('order_status')=='DELIVERED')\
            .join(df_product,'product_id','inner')\
            .withColumn('profit',(col('price')-col('cost_price'))*col('quantity'))\
            .groupBy('state','product_name').agg(sum('profit').alias('product_profit'))

window_spec= Window.partitionBy('state').orderBy(col('product_profit').desc())

df.withColumn('rank',rank().over(window_spec))\
            .filter(col('rank')<=2)\
            .show()

+----------------+-------------------+------------------+----+
|           state|       product_name|    product_profit|rank|
+----------------+-------------------+------------------+----+
|       Karnataka|     Wireless Mouse| 6680.639930725098|   1|
|       Karnataka|   Wireless Earbuds| 3602.089988708496|   2|
|          Odisha|Mechanical Keyboard|5389.3100509643555|   1|
|          Odisha|     Wireless Mouse| 4880.380027770996|   2|
|          Kerala|   Wireless Earbuds| 5972.230010986328|   1|
|          Kerala|     Wireless Mouse| 5906.629943847656|   2|
|      Tamil Nadu|     Wireless Mouse| 6527.709930419922|   1|
|      Tamil Nadu|   Wireless Earbuds| 3214.830146789551|   2|
|    Chhattisgarh|     Wireless Mouse| 8475.800010681152|   1|
|    Chhattisgarh|   Wireless Earbuds|4655.8599853515625|   2|
|  Andhra Pradesh|   Wireless Earbuds| 5988.870079040527|   1|
|  Andhra Pradesh|     Wireless Mouse|5575.1599044799805|   2|
|  Madhya Pradesh|     Wireless Mouse| 6755.169937133789|   1|
|  Madhya Pradesh|Mechanical Keyboard| 4714.479965209961|   2|
|          Punjab|     Wireless Mouse| 6467.410102844238|   1|
|          Punjab|Mechanical Keyboard| 3851.079933166504|   2|
|             Goa|     Wireless Mouse| 6754.829971313477|   1|
|             Goa|   Wireless Earbuds| 5000.339897155762|   2|
|Himachal Pradesh|     Wireless Mouse| 6958.750038146973|   1|
|Himachal Pradesh|   Wireless Earbuds| 4384.089897155762|   2|
+----------------+-------------------+------------------+----+
only showing top 20 rows

In [146]:
df_product.show(5)

+----------+--------------------+----------+
|product_id|        product_name|cost_price|
+----------+--------------------+----------+
|         1|      Wireless Mouse|     120.0|
|         2| Mechanical Keyboard|     135.0|
|         3|       USB C Charger|     150.0|
|         4|        Laptop Stand|     165.0|
|         5|Noise Cancelling ...|     180.0|
+----------+--------------------+----------+
only showing top 5 rows

In [ ]:
spark.stop()